// Usage Example:

//	+keyframe (fadeout)
//			0%
//					opacity: 1
//			100%
//					opacity: 0

//	+animation(0s, 0.5s, fadeout)

=keyframe($animation_name)
		@-webkit-keyframes #{$animation_name}
				@content
		@-moz-keyframes #{$animation_name}
				@content
		@-o-keyframes #{$animation_name}
				@content
		@keyframes #{$animation_name}
				@content


=animation ($delay, $duration, $animation)
		-webkit-animation-delay: $delay
		-webkit-animation-duration: $duration
		-webkit-animation-name: $animation
		-webkit-animation-fill-mode: forwards

		-moz-animation-delay: $delay
		-moz-animation-duration: $duration
		-moz-animation-name: $animation
		-moz-animation-fill-mode: forwards

		animation-delay: $delay
		animation-duration: $duration
		animation-name: $animation
		animation-fill-mode: forwards
