// Usage Example:
// +gradient(rgba(47,185,174,1), rgba(48,89,201,1), 45deg)

=gradient($from, $to, $deg)
	background: $from
	background: -moz-linear-gradient($deg, $from 0%, $to 100%)
	background: -webkit-gradient(left top, right bottom, color-stop(0%, $from), color-stop(100%, $to))
	background: -webkit-linear-gradient($deg, $from 0%, $to 100%)
	background: -o-linear-gradient($deg, $from 0%, $to 100%)
	background: -ms-linear-gradient($deg, $from 0%, $to 100%)
	background: linear-gradient($deg, $from 0%, $to 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=1 )
