// ACCOUNT / MI CUENTA
// ========================================================================

@if $shopActive == true

	@if $accountActive == true

		.adresses
			ul
				li
					margin-bottom: 2em
					padding: 20px 30px 25px
					.right
						float: right
						a
							margin: 0 5px

					&:nth-child(2n)
						background: #f5f5f5

		ul.resumen-pedido
			li
				border-bottom: $account-li-border-bottom
				float: left
				width: $account-width
				&:hover
					background: $account-bg-hover
				.info-pedidos
					text-align: center
					padding: $account-li-padding
					font-family: $font-family
					font-size: 1.3em
					color: $color-secondary
					font-weight: normal
		#account
			h2, h3
				text-align: left
			#totals tr:last-child
				font-size: $account-total-font-size
			.direcciones
				margin-bottom: $account-direcciones-margin-bottom
				margin-top: $account-direcciones-margin-top
			.status
				margin: $account-estado-margin
				float: left
				width: 100%

		#content-info
			img
				float: left
				margin-right: 7px


		//===============================================================
		//checkout
		//===============================================================

		.checkout
			li
				border-bottom: 1px solid #DDD
				margin-bottom: 0
				padding: 15px 0 10px
				&:hover
					background: #F5F5F5
				label
					cursor: pointer
				input[type="radio"] + label span, input[type="checkbox"] + label span
					margin-right: 15px
		.products, .totals
			margin-bottom: 20px
			.row
				border-bottom: 1px solid #DDD
				padding: 1em
		.totals ul
			background: #f5f5f5

		.totalsList
			ul.list-unstyled li
				border-bottom: 1px solid #DDD
				padding: 1em .5em

		// Bullets checkout
		//---------------------------------------------------------------
		#checkout_nav
			display: inline-block
			margin: 70px 0 60px
			width: 100%
			ul
				li,li a,li a:visited
					color: $color-primary
					float: left
					height: 35px
					line-height: 50px
					padding: 15px 0 0
					text-align: center
					width: 25%

				li a, li a:visited, li .colored
					color: #000
					width: 100%
				li a:hover, li a:visited:hover
					width: 100%
				li .active, li a.active
					font-size: 1.25em
					color: #000
					width: 100%
				li:before
					display: none

			.bullet_nav
				border-radius: 50%
				position: absolute
				.line_first, .line_last
					background: #ccc
					width: 50%
					height: 2px!important
					position: relative
					float: left

			.active_nav
				background: $color-primary
				width: 20px
				height: 20px
				top: 6px
				z-index: 99
				left: 50%
				margin-left: -10px

			.prev_nav
				width: 12px
				height: 12px
				border: solid 2px #ccc
				top: 9px
				left: 50%
				margin-left: -6px
				z-index: 99

			.pass_nav
				background: $color-secondary
				width: 14px
				height: 14px
				top: 10px
				left: 50%
				margin-left: -6px
				z-index: 99

			.pass_line
				background: $color-primary!important

			.first_active .line_first,.first_standard_pass .line_first, .last_standard .line_last,.last_active .line_last
				background: none


		.message
			width: 100%
			position: relative
			padding: 1em
			text-align: center
			float: left
			margin-top: 15px
			margin-bottom: 15px

		#content-error, #content-error-coupon, #content-error-email
			@extend .message
			background: #ffe9e9
			color: #fc4273
			a
				color: #fc4273
		#content-info
			@extend .message
			background: #e6f6ff
		#content-warning
			@extend .message
			background: #fff9d1
		#content-success
			@extend .message
			background: #c7ffd0

		#content-error, #content-error-coupon, #content-error-email, #content-info, #content-warning, #content-success
			img
				float: left
				margin-right: 7px
