// CART / CARRITO (header)
// ========================================================================

@if $shopActive == true
	@if $cartActive == true

		.cartIcon
			position: fixed
			top: $cart-top
			left: $cart-left
			right: $cart-right
			bottom: $cart-bottom
			z-index: 9

			.cartIcon__icon
				width: $cart-icon-width
				height: $cart-icon-height
				padding: $cart-icon-padding
				background: $cart-icon-bg
				border-radius: $cart-icon-border-radius
				display: block

				&:before
					content: ''
					display: block
					background-image: url(./assets/icons/#{$cart-icon}.svg)
					background-repeat: no-repeat
					background-size: 100%
					width: 100%
					height: 100%

			.cartIcon__quantity
				position: absolute
				top: $cart-quantity-top
				right: $cart-quantity-right
				left: $cart-quantity-left
				bottom: $cart-quantity-bottom

				.quantity
					color: $cart-quantity-color
					width: $cart-quantity-width
					height: $cart-quantity-height
					font-size: $cart-quantity-font-size
					font-family: $cart-quantity-font-family
					padding: $cart-quantity-padding
					background: $cart-quantity-bg
					display: flex
					justify-content: center
					align-items: center
					border-radius: 50%
					line-height: 0

				.text
					display: none

				a
					text-decoration: none

					&:hover
						text-decoration: none

			.cartIcon__details
				display: none
				position: absolute
				width: $cart-details-width
				left: $cart-details-left
				top: $cart-details-top
				background: $cart-details-bg
				box-shadow: $cart-details-box-shadow
				z-index: 999

				#content_products
					width: 100%
					position: relative
					float: left
					padding: $cart-details-padding
					color: $cart-details-color

					.fila
						float: left
						width: 100%
						padding: $cart-details-product-padding
						border-bottom: $cart-details-border

						.attributtes
							width: 100%
							float: left
							font-size: $cart-details-quantity-font-size

						.numero
							font-size: $cart-details-quantity-font-size

						.fila-left,
						.fila-right
							float: left
							width: 100%
							position: relative
							float: left
							line-height: $cart-details-line-height

							.name
								padding-right: 20px
								font-size: $cart-details-title-font-size

						.fila-right
							text-align: right

						.delete
							position: $cart-details-delete-position
							top: $cart-details-delete-top
							right: $cart-details-delete-right
							cursor: pointer

							img
								width: $cart-details-delete-width
								height: $cart-details-delete-height

				#content_total
					padding: 1em 0
					text-align: right
					float: left
					position: relative
					width: 100%

					strong
						font-family: $cart-details-total-font-family
						color: $cart-details-total-color
						font-size: $cart-details-total-font-size

				.content_button
					width: 100%
					position: relative
					float: left

		@media (min-width: $grid-breakpoint)
			.cartIcon
				position: absolute
				top: $cart-top-max
				left: $cart-left-max
				right: $cart-right-max
				bottom: $cart-bottom-max
				padding: $cart-padding-max

				.cartIcon__icon
					width: $cart-icon-width-max
					height: $cart-icon-height-max
					border-radius: 0
					background: none
					padding: 0

					&:before
						background-image: url(./assets/icons/#{$cart-icon-max}.svg)

				.cartIcon__quantity
					top: $cart-quantity-top-max
					right: $cart-quantity-right-max
					left: $cart-quantity-left-max
					bottom: $cart-quantity-bottom-max

					.quantity
						color: $cart-quantity-color-max
						width: $cart-quantity-width-max
						height: $cart-quantity-height-max
						font-size: $cart-quantity-font-size-max
						font-family: $cart-quantity-font-family-max
						padding: $cart-quantity-padding-max
						background: $cart-quantity-bg-max

					.text
						display: none
