// FILTERS
// ========================================================================

@if $shopActive == true

	@if $filtersActive == true
		.box-show-filter
			padding: 10px 20px

			@if $filters-toggle-desktop == true
				display: inline-flex

			@else
				display: none

		@if $filters-toggle-desktop == true
			.icon_filter
				position: relative
				display: flex
				align-items: center
				&:before
					position: absolute
					right: 0
					width: 16px
					height: 16px
					background-image: url(./assets/icons/icon_down_b.svg)
					background-repeat: no-repeat

				&.show:before
					width: 16px
					height: 16px
					background-image: url(./assets/icons/icon_close_b.svg)
					background-repeat: no-repeat

		@else
			.icon_filter
				display: none

		.filters
			display: block
			width: 100%
			margin: 0
			@if $filters-toggle-desktop == true
				max-height: 0
				overflow: hidden
				transition: all .5s ease-in-out
				&.show
					height: auto
					max-height: 1500px

			> div
				width: 100%
				padding: 0.5em 0 0 0
				margin: 0 0 1em
				border-top: 1px solid #DDD

				.filter_title
					display: block
					width: 100%
					padding: $filter-title-padding
					margin: $filter-title-margin
					font-family: $filter-title-font-family
					font-size: $filter-title-font-size
					text-align: $filter-title-align

				ul.text_list
					padding: 0
					margin: 0

					li
						padding: 0
						margin: 0

						&:before
							display: none

						a
							display: block
							width: 100%
							padding: $filter-text-a-padding
							position: relative
							font-size: $filter-text-a-font-size
							text-decoration: none

							&:before
								content: ''
								width: $filter-check-width-height
								height: $filter-check-width-height
								position: absolute
								top: $filter-check-top
								left: $filter-check-left
								background: url('./assets/icons/#{$filter-check-icon}.svg') no-repeat
								background-size: 100%

							&.active:before
								background: url('./assets/icons/#{$filter-check-icon-active}.svg') no-repeat
								background-size: 100%

				ul.images_list
					padding: 0
					margin: 0

					li
						padding: 0
						margin: 3px
						display: inline-block

						&:before
							display: none

						a
							display: inline-block
							width: calc((3*2) + 24px)
							height: calc((3*2) + 24px)
							position: relative
							border: 1px solid #DDD
							padding: 3px
							background: #FFF
							border-radius: 3px

							img
								width: 24px
								height: 24px

							&.active
								border: 1px solid $color-primary

		// mobile styles
		@media only screen and (max-width: $grid-breakpoint)
			.box-show-filter
				display: inline-flex

			.icon_filter
				position: relative
				display: flex
				align-items: center
				&:before
					position: absolute
					right: 0
					width: 16px
					height: 16px
					background-image: url(./assets/icons/icon_down_b.svg)
					background-repeat: no-repeat

				&.show:before
					width: 16px
					height: 16px
					background-image: url(./assets/icons/icon_close_b.svg)
					background-repeat: no-repeat

			.filters
				width: 100%
				max-height: 0
				overflow: hidden
				transition: all .5s ease-in-out

				&.show
					height: auto
					max-height: 1500px

				div
					.filter_title
						font-weight: bold

					ul.text_list, ul.images_list
						li
							&:before
								display: none
