// OFFERS / NOVEDADES / OFERTAS / OFERTAS ESPECIALS / COUNTDOWN
// ========================================================================

@if $shopActive == true

	@if $offerActive == true

		// COUNTDOWN
		// -----------------------------------------------
		.countdown-container, .countdown-container-big
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: auto
			padding: $offer-countdown-padding
			background: $offer-countdown-bg
			color: $offer-countdown-color
			font-weight: bold
			text-align: center
			z-index: 1
		#product-info
			.countdown-container, .countdown-container-big
				margin: $offer-countdown-margin
				position: relative
		.countdown-page
			position: relative

		// NOVEDADES, OFERTAS, OFERTAS ESPECIALS
		//=======================================================================================================

		.img-container, #img-container
			position: relative

		// NOVEDADES
		// -----------------------------------------------
		.productsnew, .productsnew *
			box-sizing: border-box
		.productsnew
			position: absolute
			left: $offer-new-left
			right: $offer-new-right
			top: $offer-new-top
			bottom: $offer-new-bottom
			display: block
			width: $offer-new-width
			height: $offer-new-height
			padding:	$offer-new-padding
			background: $offer-new-bg
			opacity: $offer-new-opacity
			border-radius: $offer-new-radius
			-ms-transform: $offer-new-transform
			-webkit-transform: $offer-new-transform
			transform: $offer-new-transform
		.innerproductsnew
			display: inline-block
			width: $offer-new-text-width
			margin: $offer-new-text-margin
			text-align: $offer-new-text-align
			font-size: $offer-new-text-font-size
			font-family: $offer-new-text-font-family
			padding: $offer-new-text-padding
			color: $offer-new-text-color

		#img-container .productsnew
			width: $offer-new-ficha-width
			height: $offer-new-ficha-height
			padding: $offer-new-ficha-padding
			z-index: 1

		#img-container .innerproductsnew
			width: $offer-new-ficha-text-width
			margin: $offer-new-ficha-text-margin
			font-size: $offer-new-ficha-text-font-size
			padding: $offer-new-ficha-text-padding

		// OFERTAS
		// -----------------------------------------------
		.offer, .offer *
			box-sizing: border-box
		.offer
			position: absolute
			left: $offer-left
			right: $offer-right
			top: $offer-top
			bottom: $offer-bottom
			display: block
			width: $offer-width
			height: $offer-height
			padding:	$offer-padding
			background: $offer-bg
			opacity: $offer-opacity
			border-radius: $offer-radius
			-ms-transform: $offer-transform
			-webkit-transform: $offer-transform
			transform: $offer-transform
		.inneroffer
			display: inline-block
			width: $offer-text-width
			margin: $offer-text-margin
			text-align: $offer-text-align
			font-size: $offer-text-font-size
			font-family: $offer-text-font-family
			padding: $offer-text-padding
			color: $offer-text-color

		#img-container .offer
			width: $offer-ficha-width
			height: $offer-ficha-height
			padding: $offer-ficha-padding
			z-index: 1

		#img-container .inneroffer
			width: $offer-ficha-text-width
			margin: $offer-ficha-text-margin
			font-size: $offer-ficha-text-font-size
			padding: $offer-ficha-text-padding

		// OFERTAS ESPECIALS
		// -----------------------------------------------
		.oferta, .oferta .name, .oferta .precio, .oferta .attributtes
			color: #dd0000
		.specialoffer, .specialoffer *
			box-sizing: border-box
		.specialoffer
			position: absolute
			left: $offer-special-left
			right: $offer-special-right
			top: $offer-special-top
			bottom: $offer-special-bottom
			display: block
			width: $offer-special-width
			height: $offer-special-height
			padding:	$offer-special-padding
			background: $offer-special-bg
			opacity: $offer-special-opacity
			border-radius: $offer-special-radius
			-ms-transform: $offer-special-transform
			-webkit-transform: $offer-special-transform
			transform: $offer-special-transform
		.nunidxdesc
			padding-top: 7px!important
		.nunidxnunid
			padding-top: 20px!important
		.innerspecialoffer
			display: inline-block
			width: $offer-special-text-width
			margin: $offer-special-text-margin
			text-align: $offer-special-text-align
			font-size: $offer-special-text-font-size
			font-size: $offer-special-text-font-family
			padding: $offer-special-text-padding
			color: $offer-special-text-color
			line-height: 1.5em
		.bignumber
			font-size: 1.5em
		.nunidxnunid .bignumber
			font-size: 2em
		#img-container .specialoffer
			width: $offer-special-ficha-width
			height: $offer-special-ficha-height
			padding: $offer-special-ficha-padding
			z-index: 1
		#img-container .innerspecialoffer
			width: $offer-special-ficha-text-width
			margin: $offer-special-ficha-text-margin
			font-size: $offer-special-ficha-text-font-size
			padding: $offer-special-ficha-text-padding
		#img-container .bignumber
			font-size: 1.75em
			line-height: 1em
		#img-container .nunidxnunid .bignumber
			font-size: 2em
		#img-container .nunidxdesc
			padding-top: 15px!important
		#img-container .nunidxnunid
			padding-top: 30px!important
