// OPINIONS
// ========================================================================

@if $shopActive == true
	@if $opinionsActive == true
		.stars-wrapper
			margin: $opinions-stars-cont-margin

			ul.stars
				list-style: none
				margin: $opinions-stars-margin
				width: auto
				display: flex
				justify-content: $opinions-stars-justify-content
				align-items: $opinions-stars-align-items

				li
					height: $opinions-star-height
					width: $opinions-star-width
					padding: $opinions-star-padding
					margin: $opinions-star-margin
					display: flex
					justify-content: center
					align-items: center

					&:before
						background-image: url(./assets/icons/#{$opinions-star-image-active}.svg)
						background-repeat: no-repeat
						background-size: 100%
						height: $opinions-star-height
						width: $opinions-star-width
						content: ''
						display: block
						position: absolute
						left: 0
						top: 0

					&.inactive
						&:before
							background-image: url(./assets/icons/#{$opinions-star-image-disabled}.svg)

					&.half
						&:before
							background-image: url(./assets/icons/#{$opinions-star-image-half}.svg)

			.total
				color: $productsheet-stars-total-color
				font-family: $productsheet-stars-total-font-family
				font-size: $productsheet-stars-total-font-size
				margin: $productsheet-stars-total-margin
				text-align: $productsheet-stars-total-text-align

		.stars-wrapper.stars-list
			margin: $opinions-stars-list-cont-margin

			ul.stars
				margin: $opinions-stars-list-margin
				justify-content: $opinions-stars-list-justify-content
				align-items: $opinions-stars-list-align-items

				li
					height: $opinions-star-list-height
					width: $opinions-star-list-width
					padding: $opinions-star-list-padding
					margin: $opinions-star-list-margin

					&:before
						background-image: url(./assets/icons/#{$opinions-star-list-image-active}.svg)
						height: $opinions-star-list-height
						width: $opinions-star-list-width

					&.inactive
						&:before
							background-image: url(./assets/icons/#{$opinions-star-list-image-disabled}.svg)

					&.half
						&:before
							background-image: url(./assets/icons/#{$opinions-star-list-image-half}.svg)


		// 2. opinion ficha producto
		//-----------------------------------------------------
		.list-inline > li.opinionSheet, .opinionSheet
			border-top: $opinions-sheet-border-top
			display: $opinions-sheet-display
			align-items: $opinions-sheet-align-items
			justify-content: $opinions-sheet-justify-content
			margin: $opinions-sheet-margin
			padding: $opinions-sheet-padding
			width: $opinions-sheet-width
			.infoUser
				display: $opinions-sheet-user-info-display
				flex-wrap: $opinions-sheet-user-info-flex-wrap
				align-items: $opinions-sheet-user-info-align-items
				text-align: $opinions-sheet-user-info-text-align
				padding: $opinions-sheet-user-info-padding
				width: $opinions-sheet-user-info-width
				.imgOpinion
					display: flex
					align-items: center
					justify-content: center
					margin: $opinions-sheet-image-margin
					height: $opinions-sheet-image-width-height
					width: $opinions-sheet-image-width-height
					span
						color: #FFF
						font: $opinions-sheet-image-font-size $opinions-sheet-image-font-family
						text-transform: uppercase
					&.color-1
						background: $opinions-sheet-image-color-user1
					&.color-2
						background: $opinions-sheet-image-color-user2
					&.color-3
						background: $opinions-sheet-image-color-user3
					&.color-4
						background: $opinions-sheet-image-color-user4
					&.color-5
						background: $opinions-sheet-image-color-user5
				.textUser
					margin: $opinions-sheet-user-text-margin
					width: $opinions-sheet-user-text-width
					.name
						color: $opinions-sheet-name-color
						display: block
						font: $opinions-sheet-name-font-size $opinions-sheet-name-font-family
						margin: $opinions-sheet-name-margin
					.city
						color: $opinions-sheet-city-color
						display: block
						font: $opinions-sheet-city-font-size $opinions-sheet-city-font-family
						margin: $opinions-sheet-city-margin
					.valorUser
						[class*="icon_"]
							display: inline-flex
							margin: $opinions-sheet-icons-margin
			.contOpinion
				width: $opinions-sheet-content-width
				.textOpinion
					background: $opinions-sheet-text-bg
					box-shadow: $opinions-sheet-text-shadow
					padding: $opinions-sheet-text-padding
					.title
						color: $opinions-sheet-title-color
						display: block
						font: $opinions-sheet-title-font-size $opinions-sheet-title-font-family
						margin: $opinions-sheet-title-margin
					.listStar
						display: inline-block
					.date
						color: $opinions-sheet-date-color
						display: block
						font: $opinions-sheet-date-font-size $opinions-sheet-date-font-family
						margin: $opinions-sheet-date-margin
					.util
						color: $opinions-sheet-util-color
						display: block
						font: $opinions-sheet-util-font-size $opinions-sheet-util-font-family
						margin: $opinions-sheet-util-margin
					.description
						color: $opinions-sheet-description-color
						display: block
						font: $opinions-sheet-description-font-size $opinions-sheet-description-font-family
						margin: $opinions-sheet-description-margin
						.linkMore
							display: flex
							align-items: center
							margin: $opinions-sheet-description-link-margin
					.boxValorar
						display: $opinions-sheet-valorar-display
						align-items: $opinions-sheet-valorar-align-items
						margin: $opinions-sheet-valorar-margin
						.link-ok
							cursor: pointer
							margin: $opinions-sheet-valorar-ok-margin
						.link-ko
							cursor: pointer
							margin: $opinions-sheet-valorar-ko-margin
				.replyOpinion
					border-left: $opinions-sheet-reply-border-left
					margin: $opinions-sheet-reply-margin
					padding: $opinions-sheet-reply-padding
					width: $opinions-sheet-reply-width
					.replyUser
						display: flex
						align-items: center
						.imgOpinion
							border: $opinions-sheet-reply-border-left
							margin-right: 10px
							img
								height: 45px
								width: 45px
					.description
						color: $opinions-sheet-description-color
						display: block
						font: $opinions-sheet-description-font-size $opinions-sheet-description-font-family
						margin: 30px 0 0
					.name
						color: $opinions-sheet-name-color
						display: block
						font: $opinions-sheet-name-font-size $opinions-sheet-name-font-family
						margin: $opinions-sheet-name-margin
					.linkMore
						display: flex
						align-items: center
						margin: $opinions-sheet-description-link-margin

		.containerOpiniones
			margin-top: $opinions-container-margin-top

			.totalOpiniones
				color: $opinions-text-total-color
				display: inline-block
				font: $opinions-text-total-font-size $opinions-text-total-font-family
				margin: $opinions-text-total-margin

			.linkResena
				display: inline-block
				color: $opinions-text-resena-color
				font: $opinions-text-resena-font-size $opinions-text-resena-font-family
				margin: $opinions-text-resena-margin
				text-decoration: $opinions-text-resena-text-decoration

				&:hover
					color: $opinions-text-resena-color-hover
					text-decoration: $opinions-text-resena-text-decoration-hover

			.textOrdenar
				display: inline-block
				float: $opinions-text-ordenar-float
				font: $opinions-text-ordenar-font-size $opinions-text-ordenar-font-family
				margin: $opinions-text-ordenar-margin
				padding: $opinions-text-ordenar-padding
				text-align: $opinions-text-ordenar-text-align
				width: $opinions-text-ordenar-width

		// 3. page form valoraciones
		//-----------------------------------------------------
		.reviewSheet
			border-top: $opinions-sheet-review-border-top
			margin: $opinions-sheet-review-margin
			padding: $opinions-sheet-review-padding
			width: $opinions-sheet-review-width

			.valorarReview
				.starReview
					display: inline-block
					width: 100%

				.comentReview
					display: inline-block
					width: 100%

		.contBtnReview
			border-top: $opinions-sheet-review-border-top
			padding: $opinions-sheet-review-padding
			width: $opinions-sheet-review-width

		.radioStar
			display: inline-block
			list-style: none
			margin: 0

			li
				display: inline-block
				float: left
				margin: $opinions-sheet-review-list-star-margin
				padding: $opinions-sheet-review-list-star-padding
				width: $opinions-sheet-review-list-star-width

				&:before
					display: none

				input[type="radio"]
					display: none

				input[type="radio"] + label span
					background-image: $opinions-sheet-review-star-bg-img-disabled
					background-size: 100%
					display: block
					height: $opinions-sheet-review-list-star-width
					width: $opinions-sheet-review-list-star-width

				input[type="radio"]:checked + label span
					background-image: $opinions-sheet-review-star-bg-img-active

		.radioStar.active2
			li:first-child
				input[type="radio"] + label span
					background-image: $opinions-sheet-review-star-bg-img-active

		.radioStar.active3
			li
				&:first-child, &:nth-child(2)
					input[type="radio"] + label span
						background-image: $opinions-sheet-review-star-bg-img-active

		.radioStar.active4
			li:not(:last-child)
				input[type="radio"] + label span
					background-image: $opinions-sheet-review-star-bg-img-active

		.radioStar.active5
			li
				input[type="radio"] + label span
					background-image: $opinions-sheet-review-star-bg-img-active

		.contentExpe
			border-top: $opinions-sheet-review-border-top
			display: inline-block

		.contExpe
			display: inline-block
			padding-top: 1.5em

			.starExpe
				display: inline-block
				margin: 0 0 1em
				width: 100%

		.comentExpe
			display: inline-block
			padding-top: 1.5em

		@media (max-width: $grid-breakpoint)
			.list-inline > li.opinionSheet, .opinionSheet
				flex-wrap: $opinions-sheet-flex-wrap-xs
				margin: $opinions-sheet-margin-xs
				padding: $opinions-sheet-padding-xs

				.infoUser
					padding: $opinions-sheet-user-info-padding-xs
					text-align: $opinions-sheet-user-info-text-align-xs
					width: $opinions-sheet-user-info-width-xs

					.imgOpinion
						margin: $opinions-sheet-content-image-margin-xs
						height: $opinions-sheet-content-image-width-height-xs
						width: $opinions-sheet-content-image-width-height-xs

					.textUser
						margin: $opinions-sheet-user-text-margin-xs
						width: $opinions-sheet-user-text-width-xs

						.name
							display: inline-block
							margin: $opinions-sheet-name-margin-xs

						.city
							display: inline-block
							margin: $opinions-sheet-city-margin-xs

				.contOpinion
					width: $opinions-sheet-content-width-xs

					.textOpinion
						padding: $opinions-sheet-text-padding-xs

			.containerOpiniones
				margin-top: $opinions-container-margin-top-xs

				.totalOpiniones
					margin: $opinions-text-total-margin-xs

				.linkResena
					margin: $opinions-text-resena-margin-xs

				.textOrdenar
					float: $opinions-text-ordenar-float-xs
					margin: $opinions-text-ordenar-margin-xs
					padding: $opinions-text-ordenar-padding-xs
					text-align: $opinions-text-ordenar-text-align-xs
					width: $opinions-text-ordenar-width-xs
