// FICHA PRODUCTOS / PRODUCTS SHEET
//-------------------------------------------------------------
.productSheet
	display: flex
	flex-wrap: wrap
	width: 100%
	margin: 0

	.productSheet__title,
	.productSheet__image,
	.productSheet__info,
	.productSheet__details,
	.productSheet__extra,
	.productSheet__opinions
		width: 100%
		margin: 0
	
	.images-wrapper
		position: relative

	h1
		color: $productsheet-h1-color
		font-family: $productsheet-h1-font-family
		font-size: $productsheet-h1-font-size
		margin: $productsheet-h1-margin
		text-align: $productsheet-h1-text-align

	.attributes-wrapper
		display: inline-block
		margin: $productsheet-attributes-margin
		width: 100%

		ul
			margin: $productsheet-attributes-ul-margin

			li
				border: 1px solid transparent
				margin: $productsheet-attributes-li-margin
				padding: $productsheet-attributes-li-padding
				max-width: $productsheet-attributes-li-max-width

				&:hover,
				&.active
					border: 1px solid $productsheet-attributes-li-active-color

				span
					display: block
					text-align: center

				img
					max-width: 100%
					height: auto
	
		.select
			display: inline-block
			margin: $productsheet-attributes-select-margin
			width: 100%

			label
				display: inline-block

			select
				margin: 0

	.price-wrapper
		.price
			color: $productsheet-price-color
			font-family: $productsheet-price-font-family
			font-size: $productsheet-price-font-size
			margin: $productsheet-price-margin

		.price-offer
			color: $productsheet-price-offer-color
			font-family: $productsheet-price-offer-font-family
			font-size: $productsheet-price-offer-font-size
			margin: $productsheet-price-offer-margin
			display: inline-block

		.old-price
			color: $productsheet-price-no-offer-color
			font-size: $productsheet-price-no-offer-font-size
			font-family: $productsheet-price-no-offer-font-family
			margin: $productsheet-price-no-offer-margin
			display: inline-block

		.taxes
			display: inline-block
			font-size: $productsheet-price-taxes-font-size

	.checkout-wrapper
		display: flex
		flex-wrap: wrap

		.quantity
			width: $productsheet-checkout-quantity-width
			margin: $productsheet-checkout-quantity-margin

		.button
			width: $productsheet-checkout-button-width
			margin: $productsheet-checkout-button-margin

		.wishlist
			width: $productsheet-checkout-wishlist-width
			margin: $productsheet-checkout-wishlist-margin
	
	.description
		display: inline-block
		margin: $productsheet-text-margin
		width: 100%
	
	.model
		display: inline-block
		margin: $productsheet-model-margin

	.video
		display: inline-block
		width: 100%

		ul
			margin: $productsheet-video-ul-margin

			li
				margin: $productsheet-video-li-margin

// RESPONSIVE STYLES
@media (min-width: $grid-breakpoint)
	.productSheet
		display: $productsheet-display-max
		grid-template-columns: $productsheet-grid-template-columns-max
		grid-template-rows: $productsheet-grid-template-rows-max
		grid-column-gap: $productsheet-grid-column-gap-max
		grid-row-gap: $productsheet-grid-row-gap-max

		.productSheet__title,
		.productSheet__image,
		.productSheet__info,
		.productSheet__details,
		.productSheet__extra,
		.productSheet__opinions
			width: 100%
			margin: 0
		
		.productSheet__title
			grid-column-start: $productsheet-title-grid-column-start-max
			grid-column-end: $productsheet-title-grid-column-end-max
			grid-row-start: $productsheet-title-grid-row-start-max
			grid-row-end: $productsheet-title-grid-row-end-max

		.productSheet__image
			grid-column-start: $productsheet-images-grid-column-start-max
			grid-column-end: $productsheet-images-grid-column-end-max
			grid-row-start: $productsheet-images-grid-row-start-max
			grid-row-end: $productsheet-images-grid-row-end-max
			width: 100%
		
		.productSheet__info
			grid-column-start: $productsheet-info-grid-column-start-max
			grid-column-end: $productsheet-info-grid-column-end-max
			grid-row-start: $productsheet-info-grid-row-start-max
			grid-row-end: $productsheet-info-grid-row-end-max

		.productSheet__details
			grid-column-start: $productsheet-details-grid-column-start-max
			grid-column-end: $productsheet-details-grid-column-end-max
			grid-row-start: $productsheet-details-grid-row-start-max
			grid-row-end: $productsheet-details-grid-row-end-max

		.productSheet__extra
			grid-column-start: $productsheet-extra-grid-column-start-max
			grid-column-end: $productsheet-extra-grid-column-end-max
			grid-row-start: $productsheet-extra-grid-row-start-max
			grid-row-end: $productsheet-extra-grid-row-end-max

		.productSheet__opinions
			grid-column-start: $productsheet-opiniones-grid-column-start-max
			grid-column-end: $productsheet-opiniones-grid-column-end-max
			grid-row-start: $productsheet-opiniones-grid-row-start-max
			grid-row-end: $productsheet-opiniones-grid-row-end-max
		
		.checkout-wrapper
			.quantity
				width: $productsheet-checkout-quantity-width-max
				margin: $productsheet-checkout-quantity-margin-max

			.button
				width: $productsheet-checkout-button-width-max
				margin: $productsheet-checkout-button-margin-max

			.wishlist
				width: $productsheet-checkout-wishlist-width-max
				margin: $productsheet-checkout-wishlist-margin-max
