// QUANTITY
// =====================================================================

@if $shopActive == true

	@if $quantityActive == true
				.quantity-wrapper
						display: flex
						justify-content: $quantity-justify-content

				.quantity
						margin: $quantity-margin
						align-items: $quantity-align-items
						border: $quantity-border
						width: $quantity-width
						display: flex

						.button_plus,
						.button_minus
								width: $quantity-icons-width
								height: $quantity-icons-height
								padding: $quantity-icons-padding
								background: $quantity-icons-bg
								border: $quantity-icons-border
								display: flex
								justify-content: space-between
								align-items: center
								cursor: pointer

								&:before
										content: ''
										display: block
										width: 100%
										height: 100%
										background-size: 100%
										background-repeat: no-repeat
										background-position: 0 0
										margin: 0

								&:hover
										background: $quantity-icons-hover-bg
										border: $quantity-icons-hover-border

								&.disabled
										opacity: 0.5
										pointer-events: none

						.button_plus
								&:before
										background-image: url(./assets/icons/#{$quantity-plus-icon}.svg)

						.button_minus
								&:before
										background-image: url(./assets/icons/#{$quantity-minus-icon}.svg)

						.button_plus:hover
								&:before
										background-image: url(./assets/icons/#{$quantity-plus-hover-icon}.svg)

						.button_minus:hover
								&:before
										background-image: url(./assets/icons/#{$quantity-minus-hover-icon}.svg)

						input
								width: $quantity-input-width
								height: $quantity-input-height
								background-color: $quantity-input-bg
								border: $quantity-input-border
								font-size: $quantity-input-font-size
								font-family: $quantity-input-font-family
								text-align: $quantity-input-text-align
								color: $quantity-input-color

								&:focus
										background: $quantity-input-bg
										border: $quantity-input-border
										color: $quantity-input-color
										outline: none
