// SHOPPING CART
// ========================================================================

@if $shopActive == true
	@if $shoppingCartActive == true

		.shopping-cart
			display: inline-block
			margin: $cart-page-margin
			width: 100%

			table
				margin: $cart-page-table-margin

				tr
					border-bottom: $cart-page-table-border

					.foto
						width: 85px
						height: auto

				.subtotal
					background: $cart-page-table-total-bg
					border: none
					color: $cart-page-table-total-color
					font-family: $cart-page-table-total-font-family
					font-size: $cart-page-table-total-font-size

				.deleteallBtn
					background: $cart-page-table-total-bg
					text-align: left

					img
						float: left
						margin: 3px 10px 0 0

		// Estilos de la transición del botón de compra - carrito
		.ui-effects-transfer
			border: 2px solid
			border-color: rgba(0, 0, 0, 0.15)
			background-color: rgba(0, 0, 0, 0.15)
			z-index: 99999

		// mobile styles
		@media only screen and (max-width: $grid-breakpoint-sm)
			.shopping-cart
				table
					tr
						float: left
						margin-bottom: 1em
						position: relative
						width: 100%

						td
							border: none
							float: left
							position: relative
							text-align: center
							width: 100%

						&:first-child
							display: none

						.foto
							margin: 0 auto

						.casulePlusMius
							margin: 0 17%

						.deleteBtn img
							margin: 0 auto

				.btn
					margin-bottom: 1em

			.shopping-cart table tr
				border-bottom-color: $table-cell-border-color

				&.hidde-xs
					display: none

				td
					border-width: 0
					display: block
					text-align: center

					.casulePlusMius
						float: inherit
