// WISHLIST
// ========================================================================

@if $shopActive == true
	@if $wishlistActive == true

		.wishlistIcon
			position: fixed
			top: $wishlist-top
			left: $wishlist-left
			right: $wishlist-right
			bottom: $wishlist-bottom
			z-index: 9

			.wishlistIcon__icon
				width: $wishlist-icon-width
				height: $wishlist-icon-height
				padding: $wishlist-icon-padding
				background: $wishlist-icon-bg
				border-radius: $wishlist-icon-border-radius
				display: block

				&:before
					content: ''
					display: block
					background-image: url(./assets/icons/#{$wishlist-icon}.svg)
					background-size: 100%
					width: 100%
					height: 100%

			.wishlistIcon__quantity
				position: absolute
				top: $wishlist-quantity-top
				right: $wishlist-quantity-right
				left: $wishlist-quantity-left
				bottom: $wishlist-quantity-bottom

				.number
					color: $wishlist-quantity-color
					width: $wishlist-quantity-width
					height: $wishlist-quantity-height
					font-size: $wishlist-quantity-font-size
					font-family: $wishlist-quantity-font-family
					padding: $wishlist-quantity-padding
					background: $wishlist-quantity-bg
					display: flex
					justify-content: center
					align-items: center
					border-radius: 50%
					line-height: 0

				a
					text-decoration: none

					&:hover
						text-decoration: none

		@media (min-width: $grid-breakpoint)
			.wishlistIcon
				position: absolute
				top: $wishlist-top-max
				left: $wishlist-left-max
				right: $wishlist-right-max
				bottom: $wishlist-bottom-max

				.wishlistIcon__icon
					width: $wishlist-icon-width-max
					height: $wishlist-icon-height-max
					border-radius: 0
					background: none
					padding: 0

					&:before
						background-image: url(./assets/icons/#{$wishlist-icon-max}.svg)

				.wishlistIcon__quantity
					top: $wishlist-quantity-top-max
					right: $wishlist-quantity-right-max
					left: $wishlist-quantity-left-max
					bottom: $wishlist-quantity-bottom-max

					.number
						color: $wishlist-quantity-color-max
						width: $wishlist-quantity-width-max
						height: $wishlist-quantity-height-max
						font-size: $wishlist-quantity-font-size-max
						font-family: $wishlist-quantity-font-family-max
						padding: $wishlist-quantity-padding-max
						background: $wishlist-quantity-bg-max


		// 2 = Lista wishlist
		//---------------------------------------------------------------
		.wishlist_true
			.wishlist_header_item
				border-top: $wishlist-item-border-top
				margin: $wishlist-item-margin
				padding: $wishlist-item-padding

				.nameWishlist
					cursor: pointer
					margin: $wishlist-name-margin
					text-align: $wishlist-name-text-align

					.icon_edit, .icon_edit_w, .icon_edit_b
						height: $wishlist-edit-icon-height-width
						margin: $wishlist-edit-icon-margin
						width: $wishlist-edit-icon-height-width

						&:before
							margin-right: 0
				.btn
					width: auto

		.wishlist-preview
			ul li
				padding: $wishlist-element-padding

		.wishlist_content
			display: none
			width: 100%

			form
				background: $wishlist-content-background
				margin: $wishlist-content-margin
				padding: $wishlist-content-padding

			table
				margin: $cart-page-table-margin

				tr
					.foto
						width: 85px
						height: auto

					.casulePlusMius
						min-width: 150px
						width: $cart-page-table-plus-minus-width
						float: left
						text-align: center
						position: relative

						.button_plus, .button_minus
							padding: $cart-page-table-plus-minus-padding
							height: $cart-page-table-plus-minus-width-height
							vertical-align: middle
							width: $cart-page-table-plus-minus-width-height
							position: absolute
							top: 0

						.button_minus
							background: $cart-page-table-minus-bg
							border-radius: $cart-page-table-minus-border-radius
							left: 0

							&:hover
								background: $cart-page-table-minus-bg-hover

						.button_plus
							background: $cart-page-table-plus-bg
							border-radius: $cart-page-table-plus-border-radius
							right: 0

							&:hover
								background: $cart-page-table-plus-bg-hover

						.quantity
							padding: 0 $cart-page-table-plus-minus-padding
							margin: 0
							width: 100%

							input
								float: left
								padding: $cart-page-table-plus-minus-padding
								font-size: $cart-page-input-plus-minus-font-size
								height: auto
								width: 100%
								margin: 0

		// 3 = Ficha btn wishlist
		//---------------------------------------------------------------
		.wishlist_container
			display: $wishlist-link-content-display
			align-items: $wishlist-link-content-align-items
			justify-content: $wishlist-link-content-justify-content
			width: $wishlist-link-content-width

			.linkWishlist
				color: $color-secondary
				cursor: pointer
				display: $wishlist-link-text-display
				flex-wrap: $wishlist-link-text-flex-wrap
				justify-content: $wishlist-link-text-justify-content
				align-items: $wishlist-link-text-align-items
				font: $wishlist-link-text-font-size $wishlist-link-text-font-family
				margin: $wishlist-link-text-margin
				text-decoration: $wishlist-link-text-text-decoration

			[class*="icon_"]
				margin: $wishlist-link-icon-margin
				width: $wishlist-link-icon-width-height

				&:before
					height: $wishlist-link-icon-width-height
					width: $wishlist-link-icon-width-height

		@media (max-width: $grid-breakpoint)
			// 2 = Lista wishlist
			.wishlist_true
				.wishlist_header_item
					margin: $wishlist-item-margin
					padding: $wishlist-item-padding

					.nameWishlist
						cursor: pointer
						margin: $wishlist-name-margin
						padding: $wishlist-name-padding
						text-align: $wishlist-name-text-align

						.icon_edit, .icon_edit_w, .icon_edit_b
							height: $wishlist-edit-icon-height-width
							margin: $wishlist-edit-icon-margin
							width: $wishlist-edit-icon-height-width

			.wishlist-preview
				ul li
					padding: $wishlist-element-padding

			.wishlist_content
				form
					margin: $wishlist-content-margin
					padding: $wishlist-content-padding

				table
					tr
						border-bottom: $wishlist-item-border-top
						float: left
						margin-bottom: 1em
						position: relative
						width: 100%

						td
							border: none
							float: left
							position: relative
							text-align: center
							width: 100%

						&:first-child
							display: none

						.foto
							margin: 0 auto

						.casulePlusMius
							margin: 0 17%

						.deleteBtn img
							margin: 0 auto
