// BLOCKS / BLOQUES
// ========================================================================

section, main, aside
	clear: both
	padding: $padding-blocks

.block1
	background: $block1-bg
	padding: $padding-blocks
	clear: both
	color: $block1-color

	h1, h2, h3, h4
		color: $block1-color-headings

	p
		color: $block1-color

	a:not(.btn)
		color: $block1-color-link

		&:hover
			color: $block1-color-link-hover

	em
		color: $block1-color-em

	blockquote
		color: $block1-color-blockquote

	ul li
		color: $block1-color-li

		&:before
			background-image: url(./assets/icons/#{$block1-icon-li}.svg)

.block2
	background: $block2-bg
	padding: $padding-blocks
	clear: both
	color: $block2-color

	h1, h2, h3, h4
		color: $block2-color-headings

	p
		color: $block2-color

	a:not(.btn)
		color: $block2-color-link

		&:hover
			color: $block2-color-link-hover

	em
		color: $block2-color-em

	blockquote
		color: $block2-color-blockquote

	ul li
		color: $block2-color-li

		&:before
			background-image: url(./assets/icons/#{$block2-icon-li}.svg)

.block3
	background: $block3-bg
	padding: $padding-blocks
	clear: both
	color: $block3-color

	h1, h2, h3, h4
		color: $block3-color-headings

	p
		color: $block3-color

	a:not(.btn)
		color: $block3-color-link

		&:hover
			color: $block3-color-link-hover

	em
		color: $block3-color-em

	blockquote
		color: $block3-color-blockquote

	ul li
		color: $block3-color-li

		&:before
			background-image: url(./assets/icons/#{$block3-icon-li}.svg)

@media (min-width: $grid-breakpoint)
	section, main, aside
		padding: $padding-blocks-max

	.block1
		padding: $block1-padding-max

	.block2
		padding: $block2-padding-max

	.block3
		padding: $block3-padding-max
