// BUTTONS / BOTONES
// ========================================================================

.btn
	display: inline-block
	margin: $btn-margin
	padding: $btn-padding
	border: $btn-border
	border-radius: $btn-border-radius
	font-family: $btn-font-family
	font-size: $btn-font-size
	text-align: center
	text-decoration: $btn-text-decoration
	text-transform: $btn-text-transform
	transition: all 0.15s ease-in-out
	cursor: pointer
	user-select: none
	-moz-user-select: none
	-ms-user-select: none
	-webkit-user-select: none
	-webkit-appearance: none
	vertical-align: middle

	&:focus,
	&:hover
		text-decoration: none

	&:focus,
	&.focus
		box-shadow: none
		outline: 0

	&.disabled,
	&:disabled
		opacity: .65

	&:active,
	&.active
		background-image: none

.btn-lg
	padding: $btn-lg-padding
	font-size: $btn-lg-font-size
	line-height: 1.5

.btn-sm
	padding: $btn-sm-padding
	font-size: $btn-sm-font-size
	line-height: 1.5

.btn-block
	display: block
	width: 100%

	+ .btn-block
		margin-top: 0.5rem

.btn-primary
	color: $btn-primary-color
	background: $btn-primary-bg
	border: $btn-primary-border

	&:hover
		color: $btn-primary-color-hover
		background: $btn-primary-bg-hover
		border: $btn-primary-border-hover

	&:active,
	&.active
		background: $btn-primary-bg
		border: $btn-primary-border
		color: $btn-primary-color

.btn-secondary
	color: $btn-secondary-color
	background: $btn-secondary-bg
	border: $btn-secondary-border
	
	&:hover
		color: $btn-secondary-color-hover
		background: $btn-secondary-bg-hover
		border: $btn-secondary-border-hover

	&:active,
	&.active
		background: $btn-secondary-bg
		border: $btn-secondary-border
		color: $btn-secondary-color

.btn-link
	padding: 0
	background-color: transparent
	color: $btn-link-color
	text-decoration: $btn-link-text-decoration
	border: transparent
	border-radius: 0
	box-shadow: none

	&:active,
	&.active,
	&:disabled
		background-color: transparent

	&:focus,
	&:active
		border: transparent
		box-shadow: none

	&:hover
		border: transparent
		color: $btn-link-color-hover
		text-decoration: $btn-link-text-decoration-hover

	&:focus
		background-color: transparent
		color: $btn-link-color
		text-decoration: underline

	&:disabled
		color: rgba($btn-link-color, .65)
		text-decoration: none
		&:focus, &:hover
			text-decoration: none

.btn-ghost
	background: $btn-ghost-bg
	border: $btn-ghost-border
	color: $btn-ghost-color
	
	&:hover
		background: $btn-ghost-bg-hover
		border: $btn-ghost-border-hover
		color: $btn-ghost-color-hover

	&:active,
	&.active
		background: $btn-ghost-bg
		border: $btn-ghost-border
		color: $btn-ghost-color

.btn-success
	background: $btn-success-bg
	border: $btn-success-border
	color: $btn-success-color

	&:hover
		background: $btn-success-bg-hover
		border: $btn-success-border-hover
		color: $btn-success-color-hover

	&:active,
	&.active
		background: $btn-success-bg
		border: $btn-success-border
		color: $btn-success-color

.btn-info
	background: $btn-info-bg
	border: $btn-info-border
	color: $btn-info-color

	&:hover
		background: $btn-info-bg-hover
		border: $btn-info-border-hover
		color: $btn-info-color-hover

	&:active,
	&.active
		background: $btn-info-bg
		border: $btn-info-border
		color: $btn-info-color

.btn-warning
	background: $btn-warning-bg
	border: $btn-warning-border
	color: $btn-warning-color

	&:hover
		background: $btn-warning-bg-hover
		border: $btn-warning-border-hover
		color: $btn-warning-color-hover

	&:active,
	&.active
		background: $btn-warning-bg
		border: $btn-warning-border
		color: $btn-warning-color

.btn-danger
	background: $btn-danger-bg
	border: $btn-danger-border
	color: $btn-danger-color

	&:hover
		background: $btn-danger-bg-hover
		border: $btn-danger-border-hover
		color: $btn-danger-color-hover

	&:active,
	&.active
		background: $btn-danger-bg
		border: $btn-danger-border
		color: $btn-danger-color

.btn-light
	background: $btn-light-bg
	border: $btn-light-border
	color: $btn-light-color

	&:hover
		background: $btn-light-bg-hover
		border: $btn-light-border-hover
		color: $btn-light-color-hover

	&:active,
	&.active
		background: $btn-light-bg
		border: $btn-light-border
		color: $btn-light-color

.btn-dark
	background: $btn-dark-bg
	border: $btn-dark-border
	color: $btn-dark-color

	&:hover
		background: $btn-dark-bg-hover
		border: $btn-dark-border-hover
		color: $btn-dark-color-hover

	&:active,
	&.active
		background: $btn-dark-bg
		border: $btn-dark-border
		color: $btn-dark-color
