// COLORS
// ========================================================================

html, body
	color: $color-text
	background: $footer-bg

header
	background: $header-bg

	&.header-home
		background: $header-home-bg

.generalContent
	background: $body-bg

@media (min-width: $grid-breakpoint)
	header
		background: $header-bg-max
		
		&.header-home
			background: $header-bg-max