// FOOTER / PIE DE PÁGINA
// =====================================================================

footer
	padding: $footer-padding
	color: $footer-color
	background: $footer-bg

	h3
		font-family: $footer-h3-font-family
		font-size: $footer-h3-font-size
		text-align: $footer-h3-text-align
		text-transform: $footer-h3-text-transform
		color: $footer-h3-color
		margin: $footer-h3-margin

	p
		font-family: $footer-p-font-family
		font-size: $footer-p-font-size
		margin: $footer-p-margin

	ul
		margin: $footer-ul-margin
		padding: $footer-ul-padding

		li
			font-family: $footer-li-font-family
			font-size: $footer-li-font-size
			text-align: $footer-li-text-align
			text-transform: $footer-li-text-transform
			color: $footer-li-color
			margin: $footer-li-margin

		a
			font-family: $footer-a-font-family
			font-size: $footer-a-font-size
			color: $footer-a-color
			text-decoration: $footer-a-text-decoration

			&:hover
				color: $footer-a-color-hover
				text-decoration: $footer-a-text-decoration-hover

	@if ($footerSocialActive == true)
		.socialMenu
			position: relative
			margin: $footer-social-margin
			width: 100%
			top: inherit
			left: inherit
			bottom: inherit
			right: inherit

			a
				margin: $footer-social-icon-margin
				width: $footer-social-icon-width
				height: $footer-social-icon-height

			@each $social-name in $social-icons
				.social_#{$social-name}:before
					background-image: url(./assets/icons/social_#{$social-name}#{$footer-social-icon-color}.svg)
					width: $footer-social-icon-width
					height: $footer-social-icon-height


		@media (min-width: $breakpoint-menu)
			.socialMenu
				display: flex
				justify-content: $footer-social-justify-content-max
				align-items: flex-start

				a
					margin: $footer-social-icon-margin-max
					width: $footer-social-icon-width-max
					height: $footer-social-icon-height-max

				@each $social-name in $social-icons
					.social_#{$social-name}:before
						width: $footer-social-icon-width-max
						height: $footer-social-icon-height-max

					.social_#{$social-name}:hover
						&:before
							background-image: url(./assets/icons/social_#{$social-name}#{$footer-social-icon-color-hover}.svg)
