// HEADINGS / TITULARES / H1-H2-H3-H4
// ========================================================================

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
	font-family: $headings-font-family
	font-weight: $headings-font-weight
	line-height: $headings-line-height
	color: $headings-color

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	font-family: $headings-font-family
	line-height: $headings-line-height
	color: $headings-link-color
	text-decoration: $headings-link-text-decoration

h1, .h1
	color: $h1-color
	font-size: $h1-font-size
	font-family: $h1-font-family
	text-align: $h1-text-align
	text-transform: $h1-text-transform
	margin: $h1-margin

h2, .h2
	color: $h2-color
	font-size: $h2-font-size
	font-family: $h2-font-family
	text-align: $h2-text-align
	text-transform: $h2-text-transform
	margin: $h2-margin

h3, .h3
	color: $h3-color
	font-size: $h3-font-size
	font-family: $h3-font-family
	text-align: $h3-text-align
	text-transform: $h3-text-transform
	margin: $h3-margin

h4, .h4
	color: $h4-color
	font-size: $h4-font-size
	font-family: $h4-font-family
	text-align: $h4-text-align
	text-transform: $h4-text-transform
	margin: $h4-margin

@media (min-width: $grid-breakpoint)
	h1, .h1
		font-size: $h1-font-size-max
		text-align: $h1-text-align-max
		margin: $h1-margin-max

	h2, .h2
		font-size: $h2-font-size-max
		text-align: $h2-text-align-max
		margin: $h2-margin-max

	h3, .h3
		font-size: $h3-font-size-max
		text-align: $h3-text-align-max
		margin: $h3-margin-max

	h4, .h4
		font-size: $h4-font-size-max
		text-align: $h4-text-align-max
		margin: $h4-margin-max
