// HEADER
// =====================================================================

header
	position: fixed
	width: 100%
	height: $header-height
	top: 0
	z-index: 999
	transition: top .3s ease-in-out

	.container
		position: relative

header.header--home
		background: $header-home-bg

@media (min-width: $grid-breakpoint)
	header
		height: $header-height-max
		position: absolute

	header.header--home
		background: $header-home-bg-max
