// HELPERS
// =====================================================================

.img-frame
	overflow: hidden
	
	img
		object-fit: cover
		display: block
		width: 100% !important
		height: 100% !important

.padding-box
	padding: $padding-box

@media (min-width: $grid-breakpoint-lg)
	.padding-box
		padding: $padding-box-max