// ICONS / ICONOS
// ========================================================================

*[class*='icon_'],
*[class*='social_']
	display: block

*[class*='icon_']:before
	background-repeat: no-repeat
	background-size: 100%
	background-position: 0 0
	content: ''
	display: block
	height: $icon-height
	width: $icon-width

*[class*='social_']:before
	background-repeat: no-repeat
	background-size: 100%
	background-position: 0 0
	content: ''
	display: block
	height: $social-icon-height
	width: $social-icon-width

*[class*='icon_'].icon-left,
*[class*='social_'].icon-left
	display: inline-flex

	&:before
		order: 0
		margin: $icon-left-margin

*[class*='icon_'].icon-right,
*[class*='social_'].icon-right
	display: inline-flex

	&:before
		order: 1
		margin: $icon-right-margin

@each $icon-name in $icons
	.icon_#{$icon-name}:before
		background-image: url(./assets/icons/icon_#{$icon-name}.svg)

	.icon_#{$icon-name}_b:before
		background-image: url(./assets/icons/icon_#{$icon-name}_b.svg)

	.icon_#{$icon-name}_w:before
		background-image: url(./assets/icons/icon_#{$icon-name}_w.svg)

@each $social-name in $social-icons
	.social_#{$social-name}:before
		background-image: url(./assets/icons/social_#{$social-name}.svg)

	.social_#{$social-name}_b:before
		background-image: url(./assets/icons/social_#{$social-name}_b.svg)

	.social_#{$social-name}_w:before
		background-image: url(./assets/icons/social_#{$social-name}_w.svg)

