// IE FIX
// =====================================================================

.compat-object-fit
	background-size: cover !important
	background-position: center !important
	
	img
		opacity: 0 !important