// LISTS / LISTAS
// ========================================================================

ul
	display: inline-block
	list-style-type: none
	margin: $ul-margin
	padding: $ul-padding
	width: 100%

	li
		margin: $li-margin
		padding: $li-padding
		position: relative

		&:before
			background-image: url(./assets/icons/#{$li-icon}.svg)
			background-position: 0 0
			background-size: 100%
			content: ''
			display: block
			height: $li-icon-height
			left: $li-icon-left
			position: absolute
			top: $li-icon-top
			width: $li-icon-width

ol
		counter-reset: my-counter
		display: inline-block
		list-style-type: none
		margin: $ol-margin
		padding: $ol-padding
		width: 100%

		li
				margin: $li-margin
				padding: $li-padding
				position: relative

				&:before
						top: $ol-num-top
						color: $ol-num-color
						content: counter(my-counter)'.'
						counter-increment: my-counter
						font-family: $ol-num-font-family
						font-size: $ol-num-font-size
						left: $ol-num-left
						position: absolute
						line-height: $line-height

ul.list-unstyled
		list-style-type: none

		li
				padding-left: 0

				&:before
						display: none

ul.list-inline li
		display: inline-block
		padding: 0

		&:before
				display: none
