// MENU / MAIN NAVIGATION / NAV
// =====================================================================

body
	position: relative
	transition: left .3s ease-in-out, right .3s ease-in-out, top .3s ease-in-out

	@if $menu-position == left
		left: 0

	@if $menu-position == right
		right: 0

	&.open-menu
		overflow-x: hidden

		@if $menu-position == left
			left: $menu-max-width

		@if $menu-position == right
			right: $menu-max-width

header .mainMenu
	position: fixed
	top: 0
	width: $menu-width
	max-width: $menu-max-width
	height: 100vh
	padding: 0 0 $menu-max-width 0
	background: $menu-bg
	transition: left .3s ease-in-out, right .3s ease-in-out
	overflow-y: scroll
	z-index: 1000

	@if $menu-position == left
		left: -#{$menu-max-width}

	@if $menu-position == right
		right: -#{$menu-max-width}

	.container
		padding: 0
		width: $menu-width
		position: initial

header .mainMenu.open
	@if $menu-position == left
		left: 0

	@if $menu-position == right
		right: 0

header .mainMenu__nav
	margin: $menu-margin

	ul
		display: block

	ul.first-level
		margin: $menu-ul-margin
		padding: $menu-ul-padding

		li
			margin: $menu-li-margin
			padding: $menu-li-padding

			&:before
				display: none

			a, span
				margin: 0
				padding: $menu-a-padding
				font-size: $menu-a-font-size
				font-family: $menu-a-font-family
				text-transform: $menu-a-text-transform
				text-decoration: $menu-a-text-decoration
				color: $menu-a-color
				background: $menu-a-bg
				cursor: pointer
				display: block
				width: 100%

			span.toggle-icon
				display: none
				padding: 0

			&.active >
				a,
				span
					color: $menu-a-color-active
					background: $menu-a-bg-active
					text-decoration: $menu-a-text-decoration-active

		> li
			position: relative

		li .toggle-icon
			position: absolute
			display: block
			margin: 0
			padding: 0
			width: $menu-toggleicon-width
			height: $menu-toggleicon-height
			top: $menu-toggleicon-top
			right: $menu-toggleicon-right
			bottom: $menu-toggleicon-bottom
			left: $menu-toggleicon-left
			background: url(./assets/icons/#{$menu-toggleicon}.svg)
			background-size: 100%

		li span.toggle
			position: relative

			&:before
				content: ''
				display: block
				position: absolute
				width: $menu-toggleicon-width
				height: $menu-toggleicon-height
				top: $menu-toggleicon-top
				right: $menu-toggleicon-right
				bottom: $menu-toggleicon-bottom
				left: $menu-toggleicon-left
				background-image: url(./assets/icons/#{$menu-toggleicon}.svg)
				background-size: 100%

		li:hover span.toggle:before
			background-image: url(./assets/icons/#{$menu-toggleicon-hover}.svg)

		li .toggle-icon.open,
		li span.toggle.open:before
			background-image: url(./assets/icons/#{$menu-toggleicon-open}.svg)

	ul.second-level,
	ul.third-level
		margin: 0
		padding: 0
		overflow: hidden
		max-height: 0
		position: relative
		background: $menu-sec-bg
		transition: max-height .4s ease-in-out

	ul.second-level.open,
	ul.third-level.open
		max-height: 500px

// MENU ICON
.menuIcon
	position: absolute
	cursor: pointer
	width: $menu-icon-width
	height: $menu-icon-height
	top: $menu-icon-top
	right: $menu-icon-right
	bottom: $menu-icon-bottom
	left: $menu-icon-left
	background: url(./assets/icons/#{$menu-icon}.svg) no-repeat
	background-size: 100%

.menuIcon--close
	position: absolute
	cursor: pointer
	width: $menu-icon-close-width
	height: $menu-icon-close-height
	top: $menu-icon-close-top
	right: $menu-icon-close-right
	bottom: $menu-icon-close-bottom
	left: $menu-icon-close-left
	background: url(./assets/icons/#{$menu-icon-open}.svg) no-repeat
	background-size: 100%
	z-index: 9999

.menuBurger
	position: absolute
	top: $menu-icon-top
	right: $menu-icon-right
	bottom: $menu-icon-bottom
	left: $menu-icon-left
	width: $menu-icon-width
	height: $menu-icon-height
	display: flex
	align-items: center
	cursor: pointer
	z-index: 9999

	.menuBurger__icon
		width: 100%
		height: $menu-line-height
		border-radius: 0
		background: $menu-line-color
		display: block
		transform: translateX(0)
		opacity: 1
		transition: all .3s ease-in-out

	&:after, &:before
		content: ''
		position: absolute
		right: 0
		width: 100%
		height: $menu-line-height
		border-radius: 0
		background: $menu-line-color
		display: block
		transition: all .3s ease-in-out

	&:after
		top: 0

	&:before
		bottom: 0

	&.open
		.menuBurger__icon
			transform: translateX(-100%)
			opacity: 0
			background: $menu-line-color-open

		&:after
			top: calc(50% - #{$menu-line-height}/2)
			transform: rotate(135deg)
			background: $menu-line-color-open

		&:before
			bottom: calc(50% - #{$menu-line-height}/2)
			transform: rotate(-135deg)
			background: $menu-line-color-open

@media (min-width: $breakpoint-menu)
	.menuIcon,
	.menuIcon--close,
	.menuBurger
		display: none

	header .mainMenu
		position: relative
		top: inherit
		right: inherit
		bottom: inherit
		left: inherit
		width: 100%
		max-width: inherit
		height: auto
		background: transparent
		overflow-y: inherit
		z-index: 1
		padding: 0

		.container
			position: relative

	header .mainMenu__nav
		position: absolute
		top: $menu-top-max
		right: $menu-right-max
		bottom: $menu-bottom-max
		left: $menu-left-max
		margin: $menu-margin-max
		padding: $menu-padding-max
		width: $menu-width-max
		height: $menu-height-max
		background: $menu-bg-max

		ul.first-level
			display: flex
			justify-content: $menu-ul-justify-content-max
			align-items: $menu-ul-align-items-max
			margin: $menu-ul-margin-max
			padding: $menu-ul-padding-max
			height: 100%

			li
				margin: $menu-li-margin-max
				padding: $menu-li-padding-max

				a, span
					margin: $menu-a-margin-max
					padding: $menu-a-padding-max
					font-size: $menu-a-font-size-max
					font-family: $menu-a-font-family-max
					text-transform: $menu-a-text-transform-max
					text-decoration: $menu-a-text-decoration-max
					color: $menu-a-color-max
					background: $menu-a-bg-max

					&:before
						display: none

					&:hover
						color: $menu-a-color-hover-max
						background: $menu-a-bg-hover-max
						text-decoration: $menu-a-text-decoration-hover-max

				&.active >
					a,
					span
						color: $menu-a-color-active-max
						background: $menu-a-bg-active-max
						text-decoration: $menu-a-text-decoration-active-max

				&:hover > ul.second-level
					display: block

				.toggle-icon,
				span.toggle:before
					display: none
					padding: 0
					margin: 0

			> li
				position: relative

		// SECOND LEVEL
		ul.second-level
			background: $menu-sec-bg-max
			position: absolute
			top: $menu-sec-top-max
			left: $menu-sec-left-max
			overflow: visible
			display: none
			max-height: inherit
			width: $menu-sec-width-max
			margin: $menu-sec-ul-margin-max
			padding: $menu-sec-ul-padding-max

			li
				margin: $menu-sec-li-margin-max
				padding: $menu-sec-li-padding-max

				&:before
					display: none

				a, span
					margin: $menu-sec-a-margin-max
					padding: $menu-sec-a-padding-max
					font-size: $menu-sec-a-font-size-max
					font-family: $menu-sec-a-font-family-max
					text-transform: $menu-sec-a-text-transform-max
					text-decoration: $menu-sec-a-text-decoration-max
					color: $menu-sec-a-color-max
					background: $menu-sec-a-bg-max
					cursor: pointer
					display: block

					&:before
						display: none

					&:hover
						color: $menu-sec-a-color-hover-max
						background: $menu-sec-a-bg-hover-max
						text-decoration: $menu-sec-a-text-decoration-hover-max

				&.active
					a, span
						color: $menu-sec-a-color-hover-max
						background: $menu-sec-a-bg-hover-max
						text-decoration: $menu-sec-a-text-decoration-hover-max


				&:hover > ul.second-level
					display: block

				// THIRD LEVEL
				ul, ul.second-level
					background: $menu-sec-bg-max
					left: $menu-sec-width-max
					width: $menu-sec-width-max
					margin: $menu-sec-ul-margin-max
					padding: $menu-sec-ul-padding-max
					display: none
					position: absolute
					top: 0

					li
						margin: $menu-sec-li-margin-max
						padding: $menu-sec-li-padding-max

						&:before
							display: none

						a, span
							margin: $menu-sec-a-margin-max
							padding: $menu-sec-a-padding-max
							font-size: $menu-sec-a-font-size-max
							font-family: $menu-sec-a-font-family-max
							text-transform: $menu-sec-a-text-transform-max
							text-decoration: $menu-sec-a-text-decoration-max
							color: $menu-sec-a-color-max
							background: $menu-sec-a-bg-max
							cursor: pointer
							display: block

							&:before
								display: none

							&:hover
								color: $menu-sec-a-color-hover-max
								background: $menu-sec-a-bg-hover-max
								text-decoration: $menu-sec-a-text-decoration-hover-max

						&.active
							a, span
								color: $menu-sec-a-color-hover-max
								background: $menu-sec-a-bg-hover-max
								text-decoration: $menu-sec-a-text-decoration-hover-max

