// MENU AUXILIAR
// =====================================================================

@if ($menuAuxActive == true)

    header nav.menuAux
        margin: $menu-aux-margin

        ul
            display: block

        ul.first-level
            margin: $menu-aux-ul-margin
            padding: $menu-aux-ul-padding

            li
                margin: $menu-aux-li-margin
                padding: $menu-aux-li-padding

                &:before
                    display: none

                a, span
                    margin: 0
                    padding: $menu-aux-a-padding
                    font-size: $menu-aux-a-font-size
                    font-family: $menu-aux-a-font-family
                    text-transform: $menu-aux-a-text-transform
                    text-decoration: $menu-aux-a-text-decoration
                    color: $menu-aux-a-color
                    background: $menu-aux-a-bg
                    cursor: pointer
                    display: block
                    width: 100%

                span.toggle-icon
                    display: none
                    padding: 0

            > li
                position: relative

            li i.toggle-icon
                position: absolute
                display: block
                margin: 0
                padding: 0
                width: $menu-aux-toggleicon-width
                height: $menu-aux-toggleicon-heigth
                top: $menu-aux-toggleicon-top
                right: $menu-aux-toggleicon-right
                bottom: $menu-aux-toggleicon-bottom
                left: $menu-aux-toggleicon-left
                background: url(./assets/icons/#{$menu-aux-toggleicon}.svg)
                background-size: 100%

            li span.toggle
                position: relative

                &:before
                    content: ''
                    display: block
                    position: absolute
                    width: $menu-aux-toggleicon-width
                    height: $menu-aux-toggleicon-heigth
                    top: $menu-aux-toggleicon-top
                    right: $menu-aux-toggleicon-right
                    bottom: $menu-aux-toggleicon-bottom
                    left: $menu-aux-toggleicon-left
                    background-image: url(./assets/icons/#{$menu-aux-toggleicon}.svg)
                    background-size: 100%

            li:hover span.toggle:before
                background-image: url(./assets/icons/#{$menu-aux-toggleicon-hover}.svg)

            li i.toggle-icon.open,
            li span.toggle.open:before
                background-image: url(./assets/icons/#{$menu-aux-toggleicon-open}.svg)

        ul.second-level,
        ul.third-level
            margin: 0
            padding: 0
            overflow: hidden
            max-height: 0
            position: relative
            background: $menu-aux-sec-bg
            transition: max-height .4s ease-in-out

        ul.second-level.open,
        ul.third-level.open
            max-height: 500px

    @media (min-width: $breakpoint-menu-aux)
        header nav.menuAux
            position: absolute
            top: $menu-aux-top-max
            right: $menu-aux-right-max
            bottom: $menu-aux-bottom-max
            left: $menu-aux-left-max
            margin: $menu-aux-margin-max
            padding: $menu-aux-padding-max

            ul.first-level
                display: flex
                justify-content: $menu-aux-ul-justify-content-max
                align-items: $menu-aux-ul-align-items-max
                margin: $menu-aux-ul-margin-max
                padding: $menu-aux-ul-padding-max
                height: 100%

                li
                    margin: $menu-aux-li-margin-max
                    padding: $menu-aux-li-padding-max

                    a, span
                        margin: $menu-aux-a-margin-max
                        padding: $menu-aux-a-padding-max
                        font-size: $menu-aux-a-font-size-max
                        font-family: $menu-aux-a-font-family-max
                        text-transform: $menu-aux-a-text-transform-max
                        text-decoration: $menu-aux-a-text-decoration-max
                        color: $menu-aux-a-color-max
                        background: $menu-aux-a-bg-max

                        &:before
                            display: none

                        &.active
                            color: $menu-aux-a-color-active-max
                            background: $menu-aux-a-bg-active-max
                            text-decoration: $menu-aux-a-text-decoration-active-max

                    &:hover > ul.second-level
                        display: block

                    i.toggle-icon,
                    span.toggle:before
                        display: none
                        padding: 0
                        margin: 0

                > li
                    position: relative

            // SECOND LEVEL
            ul.second-level
                background: $menu-aux-sec-bg-max
                position: absolute
                top: $menu-aux-sec-top-max
                left: $menu-aux-sec-left-max
                overflow: visible
                display: none
                max-height: inherit
                width: $menu-aux-sec-width-max
                margin: $menu-aux-sec-ul-margin-max
                padding: $menu-aux-sec-ul-padding-max

                li
                    margin: $menu-aux-sec-li-margin-max
                    padding: $menu-aux-sec-li-padding-max

                    &:before
                        display: none

                    a, span
                        margin: $menu-aux-sec-a-margin-max
                        padding: $menu-aux-sec-a-padding-max
                        font-size: $menu-aux-sec-a-font-size-max
                        font-family: $menu-aux-sec-a-font-family-max
                        text-transform: $menu-aux-sec-a-text-transform-max
                        text-decoration: $menu-aux-sec-a-text-decoration-max
                        color: $menu-aux-sec-a-color-max
                        background: $menu-aux-sec-a-bg-max
                        cursor: pointer
                        display: block
                        &:before
                            display: none

                        &:hover
                            color: $menu-aux-sec-a-color-hover-max
                            background: $menu-aux-sec-a-bg-hover-max
                            text-decoration: $menu-aux-sec-a-text-decoration-hover-max

                    &:hover > ul.second-level
                        display: block

                    // THIRD LEVEL
                    ul, ul.second-level
                        background: $menu-aux-sec-bg-max
                        left: $menu-aux-sec-width-max
                        width: $menu-aux-sec-width-max
                        margin: $menu-aux-sec-ul-margin-max
                        padding: $menu-aux-sec-ul-padding-max
                        display: none
                        position: absolute
                        top: 0

                        li
                            margin: $menu-aux-sec-li-margin-max
                            padding: $menu-aux-sec-li-padding-max

                            &:before
                                display: none

                            a, span
                                margin: $menu-aux-sec-a-margin-max
                                padding: $menu-aux-sec-a-padding-max
                                 font-size: $menu-aux-sec-a-font-size-max
                                font-family: $menu-aux-sec-a-font-family-max
                                text-transform: $menu-aux-sec-a-text-transform-max
                                text-decoration: $menu-aux-sec-a-text-decoration-max
                                color: $menu-aux-sec-a-color-max
                                background: $menu-aux-sec-a-bg-max
                                cursor: pointer
                                display: block

                                &:before
                                    display: none

                                &:hover
                                    color: $menu-aux-sec-a-color-hover-max
                                    background: $menu-aux-sec-a-bg-hover-max
                                    text-decoration: $menu-aux-sec-a-text-decoration-hover-max
