// NEWS LIST / LISTA NOTICIAS
// =====================================================================

.newsList
	.newsList__item
		margin: $newslist-article-margin

		.inner-item
			display: flex
			align-items: stretch
			height: 100%
			position: relative
			background-color: $newslist-article-bg

		// IMAGE
		.thumb-wrapper
			width: $newslist-thumb-width
			height: $newslist-thumb-height
			margin: $newslist-thumb-margin
			padding: $newslist-thumb-padding
			background-color: $newslist-thumb-bg
			position: relative

			.thumb
				height: $newslist-thumb-height

		.title
			margin: $newslist-title-margin
			text-align: $newslist-title-text-align

			a
				font-size: $newslist-title-font-size
				font-family: $newslist-title-font-family
				text-decoration: $newslist-title-text-decoration
				color: $newslist-title-color

				&:hover
					text-decoration: $newslist-title-text-decoration-hover
					color: $newslist-title-color-hover

		.content
			width: $newslist-content-width
			height: 100%
			margin: $newslist-content-margin
			padding: $newslist-content-padding
			display: flex
			flex-wrap: wrap
			height: 100%

			// TEXT
			.text-wrapper
				width: 100%

				.date
					font-size: $newslist-date-font-size
					font-family: $newslist-date-font-family
					text-align: $newslist-date-text-align
					color: $newslist-date-color
					margin: $newslist-date-margin

				.text
					font-size: $newslist-text-font-size
					font-family: $newslist-text-font-family
					text-align: $newslist-text-text-align
					color: $newslist-text-color
					margin: $newslist-text-margin

			// BUTTON
			.button-wrapper
				width: 100%
				align-self: $newslist-btn-align-self
				text-align: $newslist-btn-text-align

	&.newsList--column
		.newsList__item
			.inner-item
				flex-flow: column

	&.newsList--row
		.newsList__item
			.inner-item
				flex-flow: column

	&.newsList--absolute
		.newsList__item
			.inner-item
				flex-flow: column
				position: relative

			.thumb-wrapper
				margin: 0

				&:before
					content: ''
					position: absolute
					width: 100%
					height: 100%
					top: 0
					left: 0
					background: $newslist-thumb-mask-bg

			.content
				width: 100%
				height: 100%
				margin: 0
				position: absolute
				top: 0
				left: 0

@media (min-width: $grid-breakpoint-sm)
	.newsList.newsList--row
		.newsList__item
			.inner-item
				flex-flow: row

// SHEET
.newssheet
	.newssheet-title
		color: $newssheet-title-color
		font-family: $newssheet-title-font-family
		font-size: $newssheet-title-font-size
		text-align: $newssheet-title-text-align
		text-transform: $newssheet-title-text-transform
		margin: $newssheet-title-margin

	.newssheet-date
		color: $newssheet-date-color
		font-family: $newssheet-date-font-family
		font-size: $newssheet-date-font-size
		text-align: $newssheet-date-text-align
		text-transform: $newssheet-date-text-transform
		margin: $newssheet-date-margin

	.newssheet-image
		margin: $newssheet-image-margin
		padding: $newssheet-image-padding

	.newssheet-content
		h2
			color: $newssheet-h2-color
			font-size: $newssheet-h2-font-size
			font-family: $newssheet-h2-font-family
			text-align: $newssheet-h2-text-align
			text-transform: $newssheet-h2-text-transform
			margin: $newssheet-h2-margin
		h3
			color: $newssheet-h3-color
			font-size: $newssheet-h3-font-size
			font-family: $newssheet-h3-font-family
			text-align: $newssheet-h3-text-align
			text-transform: $newssheet-h3-text-transform
			margin: $newssheet-h3-margin
		ul
			margin: $newssheet-ul-margin
			padding: $newssheet-ul-padding

			li
				margin: $newssheet-li-margin
				padding: $newssheet-li-padding

				&:before
					content: ''
					left: $newssheet-li-icon-left
					top: $newssheet-li-icon-top
					width: $newssheet-li-icon-width
					height: $newssheet-li-icon-height
					background: url(./assets/icons/#{$newssheet-li-icon}.svg) 0 0

		p
			color: $newssheet-p-color
			font-size: $newssheet-p-font-size
			font-family: $newssheet-p-font-family
			text-align: $newssheet-p-text-align
			margin: $newssheet-p-margin

		a:not(.btn)
			color: $newssheet-link-color-hover
			text-decoration: $newssheet-link-text-decoration-hover

		.videoblock, .imagetextblock, .fileblock, img
			margin: $newssheet-blocks-margin

		.imagetextblock
			.imagetext-left
				margin: 0 $grid-gutter $grid-gutter 0

			.imagetext-right
				margin: 0 0 $grid-gutter $grid-gutter

			.imagetext-center
				margin: 1rem auto

	.item-nav
		cursor: pointer
