// PRODUCTS LIST / LISTA PRODUTOS
// =====================================================================

.productsList
	.productsList__item
		margin: $productslist-article-margin

		.inner-item
			display: flex
			align-items: stretch
			height: 100%
			position: relative
			background-color: $productslist-article-bg

		// IMAGE
		.thumb-wrapper
			width: $productslist-thumb-width
			margin: $productslist-thumb-margin
			padding: $productslist-thumb-padding
			background-color: $productslist-thumb-bg
			position: relative

			.thumb
				height: $productslist-thumb-height

		.content
			width: $productslist-content-width
			margin: $productslist-content-margin
			padding: $productslist-content-padding
			display: flex
			flex-wrap: wrap
			height: 100%

			// TEXT
			.text-wrapper
				width: 100%

			.title
				margin: $productslist-title-margin
				text-align: $productslist-title-text-align

				a
					font-size: $productslist-title-font-size
					font-family: $productslist-title-font-family
					text-decoration: $productslist-title-text-decoration
					color: $productslist-title-color

					&:hover
						text-decoration: $productslist-title-text-decoration-hover
						color: $productslist-title-color-hover

			.text
				font-size: $productslist-text-font-size
				font-family: $productslist-text-font-family
				text-align: $productslist-text-text-align
				color: $productslist-text-color
				margin: $productslist-text-margin

			// PRICE
			.price-wrapper
				width: 100%

				.price
					font-size: $productslist-price-font-size
					font-family: $productslist-price-font-family
					text-align: $productslist-price-text-align
					color: $productslist-price-color
					margin: $productslist-price-margin
					line-height: 1

				.old-price
					font-size: $productslist-old-price-font-size
					font-family: $productslist-old-price-font-family
					text-align: $productslist-old-price-text-align
					color: $productslist-old-price-color
					margin: $productslist-old-price-margin
				
				.taxes
					font-size: $productslist-taxes-font-size
					font-family: $productslist-taxes-font-family
					text-align: $productslist-taxes-text-align
					color: $productslist-taxes-color
					margin: $productslist-taxes-margin

			.quantity-wrapper
				width: 100%

			// BUTTON
			.button-wrapper
				width: 100%
				align-self: $productslist-btn-align-self
				text-align: $productslist-btn-text-align

	&.productsList--column
		.productsList__item
			.inner-item
				flex-flow: column

	&.productsList--row
		.productsList__item
			.inner-item
				flex-flow: column

	&.productsList--absolute
		.productsList__item
			.inner-item
				flex-flow: column
				position: relative

			.thumb-wrapper
				margin: 0
				
				&:before
					content: ''
					position: absolute
					width: 100%
					height: 100%
					top: 0
					left: 0
					background: $productslist-thumb-mask-bg

			.content
				width: 100%
				height: 100%
				margin: 0
				position: absolute
				top: 0
				left: 0

// RESPONSIVE STYLES

@media (min-width: $grid-breakpoint-sm)
	.productsList.productsList--row
		.productsList__item
			.inner-item
				flex-flow: row
