// SIZES
// ========================================================================

@each $size in $sizes
	@if $size == 33
		.w-#{$size}
			width: 33.3333%

		.h-#{$size}
			height: 33.3333%

		.hvh-#{$size}
			height: $size *	33.3333vh

	@else if $size == 66
		.w-#{$size}
			width: 66.6666%

		.h-#{$size}
			height: 66.6666%

		.hvh-#{$size}
			height: $size * 66.6666vh

	@else
		.w-#{$size}
			width: $size * 1%

		.h-#{$size}
			height: $size * 1%

		.hvh-#{$size}
			height: $size * 1+vh

@each $breakpoint, $media in $breackpoints
	@media (min-width: #{$media})
		@each $size in $sizes
			@if $size == 33
				.w#{$breakpoint}-#{$size}
					width: 33.3333%

				.h#{$breakpoint}-#{$size}
					height: 33.3333%

				.hvh#{$breakpoint}-#{$size}
					height: $size *	33.3333vh

			@else if $size == 66
				.w#{$breakpoint}-#{$size}
					width: 66.6666%

				.h#{$breakpoint}-#{$size}
					height: 66.6666%

				.hvh#{$breakpoint}-#{$size}
					height: $size * 66.6666vh

			@else
				.w#{$breakpoint}-#{$size}
					width: $size * 1%

				.h#{$breakpoint}-#{$size}
					height: $size * 1%

				.hvh#{$breakpoint}-#{$size}
					height: $size * 1+vh
