// SPACES
// ========================================================================

.mt-auto
	marign-top: auto

.mr-auto
	margin-right: auto

.mb-auto
	margin-bottom: auto

.ml-auto
	margin-left: auto

.my-auto
	margin-top: auto
	margin-bottom: auto

.mx-auto
	margin-left: auto
	margin-right: auto

.m-auto
	margin: auto

// Loop para crear margins y paddings a medida
$spaceamounts: ($spaces)
$sides: (top, bottom, left, right)

@each $space in $spaceamounts
	@each $side in $sides
		.m#{str-slice($side, 0, 1)}-#{$space}
			margin-#{$side}: #{$space}px !important

		.p#{str-slice($side, 0, 1)}-#{$space}
			padding-#{$side}: #{$space}px !important

		.mx-#{$space}
			margin-left: #{$space}px !important
			margin-right: #{$space}px !important

		.my-#{$space}
			margin-top: #{$space}px !important
			margin-bottom: #{$space}px !important

		.m-#{$space}
			margin: #{$space}px !important

		.px-#{$space}
			padding-left: #{$space}px !important
			padding-right: #{$space}px !important

		.py-#{$space}
			padding-top: #{$space}px !important
			padding-bottom: #{$space}px !important

		.p-#{$space}
			padding: #{$space}px !important

@each $breakpoint, $size in $breackpoints
	@media (min-width: #{$size})
		@each $space in $spaceamounts
			@each $side in $sides
				.m#{str-slice($side, 0, 1)}#{$breakpoint}-#{$space}
					margin-#{$side}: #{$space}px !important

				.p#{str-slice($side, 0, 1)}#{$breakpoint}-#{$space}
					padding-#{$side}: #{$space}px !important

				.mx#{$breakpoint}-#{$space}
					margin-left: #{$space}px !important
					margin-right: #{$space}px !important

				.my#{$breakpoint}-#{$space}
					margin-top: #{$space}px !important
					margin-bottom: #{$space}px !important

				.m#{$breakpoint}-#{$space}
					margin: #{$space}px !important

				.px#{$breakpoint}-#{$space}
					padding-left: #{$space}px !important
					padding-right: #{$space}px !important

				.py#{$breakpoint}-#{$space}
					padding-top: #{$space}px !important
					padding-bottom: #{$space}px !important
					
				.p#{$breakpoint}-#{$space}
					padding: #{$space}px !important


