// FORMS
// ========================================================================

table,
.table
	background: $table-bg
	font-family: $table-font-family
	margin: $table-margin
	max-width: 100%
	width: 100%

	th,
	td
		background: $table-cell-bg
		border-color: $table-cell-border-color
		border-style: $table-cell-border-style
		border-width: $table-cell-border
		color: $table-cell-color
		padding: $table-cell-padding
		vertical-align: top

	thead th
		background: $table-head-bg
		border-color: $table-head-border-color
		border-style: $table-head-border-style
		border-width: $table-head-border
		color: $table-head-color
		font-family: $table-head-font-family
		padding: $table-head-padding
		vertical-align: bottom

	tbody + tbody
		border-top: $table-head-border

	.table
		background-color: $table-bg
