// ACCORDION
// =====================================================================

@if $accordionActive == true

	.accordion
		margin: $accordion-margin
		padding: $accordion-padding

		.toggle-header
			margin: $accordion-btn-margin
			padding: $accordion-btn-padding
			background: $accordion-btn-bg
			font-family: $accordion-btn-font-family
			font-size: $accordion-btn-font-size
			text-transform: $accordion-btn-text-transform
			text-align: $accordion-btn-text-align
			color: $accordion-btn-color
			cursor: pointer
			position: relative

			&:before
				content: ''
				display: block
				position: absolute
				width: $accordion-toggleicon-width
				height: $accordion-toggleicon-heigth
				top: $accordion-toggleicon-top
				right: $accordion-toggleicon-right
				bottom: $accordion-toggleicon-bottom
				left: $accordion-toggleicon-left
				background-image: url(./assets/icons/#{$accordion-toggleicon}.svg)
				background-size: 100%

		.toggle-content
			margin: $accordion-content-margin
			padding: $accordion-content-padding
			background: $accordion-content-bg
			overflow: hidden
			max-height: 0
			transition: max-height .4s ease-in-out

			&.open
				max-height: 800px

@if $menuAcordionActive == true
	.menu-accordion
		margin: $menu-accordion-margin
		padding: $menu-accordion-padding
		border-radius: $menu-accordion-border-radius
		border: $menu-accordion-border
		background: $menu-accordion-bg

		li:first-child a, li:first-child span
			border-radius: $menu-accordion-border-radius $menu-accordion-border-radius 0 0

		li:last-child a, li:last-child span
			border-radius: 0 0 $menu-accordion-border-radius $menu-accordion-border-radius

		li
			margin: $menu-accordion-li-margin
			padding: $menu-accordion-li-padding

			a, span
				background: $menu-accordion-a-bg
				margin: $menu-accordion-a-margin
				padding: $menu-accordion-a-padding
				color: $menu-accordion-a-color
				font-family: $menu-accordion-a-font-family
				font-size: $menu-accordion-a-font-size
				text-decoration: $menu-accordion-a-text-decoration
				text-transform: $menu-accordion-a-text-transform
				display: block
				width: 100%
				cursor: pointer

				&:hover
					background: $menu-accordion-a-bg-hover
					color: $menu-accordion-a-color-hover

			&.active > a, &.active > span
				background: $menu-accordion-a-bg-active
				color: $menu-accordion-a-color-active

			ul
				margin: 0
				padding: 0
				overflow: hidden
				max-height: 0
				position: relative
				display: block
				top: 0
				left: 0
				background: $menu-accordion-sec-bg
				transition: max-height .4s ease-in-out

				li
					margin: $menu-accordion-sec-li-margin
					padding: $menu-accordion-sec-li-padding

					a, span
						background: $menu-accordion-sec-a-bg
						margin: $menu-accordion-sec-a-margin
						padding: $menu-accordion-sec-a-padding
						color: $menu-accordion-sec-a-color
						font-family: $menu-accordion-sec-a-font-family
						font-size: $menu-accordion-sec-a-font-size
						text-decoration: $menu-accordion-sec-a-text-decoration
						text-transform: $menu-accordion-sec-a-text-transform
						display: block
						width: 100%
						cursor: pointer

						&:hover
							background: $menu-accordion-sec-a-bg-hover
							color: $menu-accordion-sec-a-color-hover

				&.active > a, &.active > span
					background: $menu-accordion-sec-a-bg-active
					color: $menu-accordion-sec-a-color-active

			ul.open
				max-height: 500px
				display: block !important

		li span.toggle-icon
			position: absolute
			display: block
			margin: 0
			padding: 0
			width: $menu-accordion-toggleicon-width
			height: $menu-accordion-toggleicon-heigth
			top: $menu-accordion-toggleicon-top
			right: $menu-accordion-toggleicon-right
			bottom: $menu-accordion-toggleicon-bottom
			left: $menu-accordion-toggleicon-left
			background: url(./assets/icons/#{$menu-accordion-toggleicon}.svg)
			background-size: 100%

		li span.toggle
			position: relative

			&:before
				content: ''
				display: block
				position: absolute
				width: $menu-accordion-toggleicon-width
				height: $menu-accordion-toggleicon-heigth
				top: $menu-accordion-toggleicon-top
				right: $menu-accordion-toggleicon-right
				bottom: $menu-accordion-toggleicon-bottom
				left: $menu-accordion-toggleicon-left
				background-image: url(./assets/icons/#{$menu-accordion-toggleicon}.svg)
				background-size: 100%

		li:hover span.toggle:before
			background-image: url(./assets/icons/#{$menu-accordion-toggleicon-hover}.svg)

		li span.toggle-icon.open,
		li span.toggle.open:before
			background-image: url(./assets/icons/#{$menu-accordion-toggleicon-open}.svg)
