// ADMIN / ADMINISTRADOR
// ========================================================================

.admin-bar
	display: flex
	align-items: center
	justify-content: space-between
	width: 100%
	height: 40px
	padding: 0
	position: fixed
	top: 0
	background: $color-dark
	color: #FFF
	font-size: 0.9rem
	z-index: 9999

	i
		margin-right: 10px
		line-height: 0 !important

	.user-admin
		background: #000

	a, span
		display: flex
		align-items: center
		height: 40px
		padding: 0 1rem
		color: #FFF
		text-decoration: none

		&:hover
			background: #000

	.admin-nav
		ul.first-level
			display: flex
			justify-content: center
			margin: 0
			padding: 0

			li
				padding: 0
				margin: 0

				&:before
					display: none

				span
					cursor: pointer

			li:hover ul.second-level
				display: block

		ul.second-level
			display: none
			width: 180px
			margin: 0
			padding: 0
			position: absolute
			background: $color-dark