// PAGINATIONS / PAGINACION
// =====================================================================

@if $paginationActive == true

	.pagination
		display: flex
		align-items: center
		padding: 0
		margin: $pagination-margin
		list-style: none

		.pagination__item
			padding: 0
			margin: 0
			&:before
				display: none

			.page-prev
				margin: $pagination-btn-prev-margin

			.page-next
				margin: $pagination-btn-next-margin

			.page-prev,
			.page-next
				display: flex
				justify-content: center
				align-items: center
				text-align: center
				vertical-align: middle
				padding: $pagination-btn-padding
				font-size: $pagination-btn-font-size
				font-family: $pagination-btn-font-family
				text-transform: $pagination-btn-text-transform
				text-decoration: $pagination-btn-text-decoration
				border-radius: $pagination-btn-border-radius
				color: $pagination-btn-color
				background: $pagination-btn-bg
				border: $pagination-btn-border

				&:hover
					color: $pagination-btn-color-hover
					background: $pagination-btn-bg-hover
					border: $pagination-btn-border-hover

			.page-prev.disabled,
			.page-next.disabled
				pointer-events: none
				color: $pagination-btn-color-disabled
				background: $pagination-btn-bg-disabled
				border: $pagination-btn-border-disabled

			.page-num
				display: flex
				justify-content: center
				align-items: center
				width: $pagination-num-width
				height: $pagination-num-height
				border: $pagination-num-border
				margin: $pagination-num-margin
				padding: $pagination-num-padding
				font-size: $pagination-num-font-size
				font-family: $pagination-num-font-family
				text-decoration: $pagination-num-text-decoration
				border-radius: $pagination-num-border-radius
				color: $pagination-num-color
				background: $pagination-num-bg

				&:hover
					color: $pagination-num-color-hover
					background: $pagination-num-bg-hover
					border: $pagination-num-border-hover

			&.active .page-num
				color: $pagination-num-color-active
				background: $pagination-num-bg-active
				border: $pagination-num-border-active
				pointer-events: none

				&:hover
					color: $pagination-num-color-hover-active
					background: $pagination-num-bg-hover-active
					border: $pagination-num-border-hover-active

		&.pagination--lg
			.pagination__item
				.page-link
					padding: 0.75rem 1.5rem
					font-size: 1.25rem
					line-height: 1.5
				&:first-child .page-link
					border-top-left-radius: 0.3rem
					border-bottom-left-radius: 0.3rem

				&:last-child .page-link
					border-top-right-radius: 0.3rem
					border-bottom-right-radius: 0.3rem

		&.pagination--sm
			.pagination__item
				.page-link
					padding: 0.25rem 0.5rem
					font-size: 0.875rem
					line-height: 1.5
				&:first-child .page-link
					border-top-left-radius: 0.2rem
					border-bottom-left-radius: 0.2rem
					
				&:last-child .page-link
					border-top-right-radius: 0.2rem
					border-bottom-right-radius: 0.2rem