
//=======================================================================================================
// RANGE SLIDER
//=======================================================================================================
@if $rangeSliderActive == true

	.ui-rangeSlider
		height: 20px
		margin: 2em 20px 1em
		width: calc(100% - 40px)
		.ui-rangeSlider-innerBar
			height: 5px
			margin: 5px 0
			background: #d3d2d3
		.ui-rangeSlider-handle
			width: 2px
			height: 14px
			background: $color-primary
			cursor: col-resize
		.ui-rangeSlider-bar
			margin: 5px 0
			background: $color-primary
			height: 5px
			cursor: move
			cursor: grab
			cursor: -moz-grab
			&.ui-draggable-dragging
				cursor: -moz-grabbing
				cursor: grabbing

	.ui-rangeSlider-arrow
		height: 16px
		margin: 2px 0
		width: 16px
		background-repeat: no-repeat
		&.ui-rangeSlider-leftArrow
			background-position: center left
		&.ui-rangeSlider-rightArrow
			background-position: center right

	.ui-rangeSlider-arrow-inner
		display: none

	.ui-rangeSlider-container
		height: 22px

	.ui-rangeSlider-withArrows .ui-rangeSlider-container
		margin: 0 11px

	.ui-rangeSlider-noArrow .ui-rangeSlider-container
		margin: 0

	.ui-rangeSlider-label
		margin: 0 2px 2px
		background-position: bottom center
		background-repeat: no-repeat
		white-space: nowrap
		bottom: 10px
		padding: 3px 6px 7px
		cursor: col-resize
		font-size: .9em

	.ui-rangeSlider-label-inner
		display: none


	input.ui-editRangeSlider-inputValue
		width: 3em
		vertical-align: middle
		text-align: center
