// SELECT
// =====================================================================

@if $selectActive == true

	.select2-container
		box-sizing: border-box
		display: inline-block
		margin: 0
		position: relative
		vertical-align: middle

		// single
		.select2-selection--single
			box-sizing: border-box
			cursor: pointer
			display: block
			user-select: none
			-webkit-user-select: none

			.select2-selection__rendered
				display: block
				padding-left: 8px
				padding-right: 20px
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap

				.select2-selection__clear
					position: relative

			&[dir="rtl"]
				.select2-selection--single
					.select2-selection__rendered
						padding-right: 8px
						padding-left: 20px


		// multiple
		.select2-selection--multiple
			box-sizing: border-box
			cursor: pointer
			display: block
			min-height: 32px
			user-select: none
			-webkit-user-select: none

			.select2-selection__rendered
				display: block
				overflow: hidden
				padding-left: 8px
				text-overflow: ellipsis
				white-space: nowrap

		// inline
		.select2-search--inline
			float: left

			.select2-search__field
				box-sizing: border-box
				border: none
				font-size: 100%
				margin: 0
				padding: 0

				&::-webkit-search-cancel-button
					-webkit-appearance: none

	// dropdown
	.select2-dropdown
		background-color: white
		border: 1px solid #aaa
		border-radius: 4px
		box-sizing: border-box
		display: block
		position: absolute
		left: -100000px
		width: 100%
		z-index: 1051

	.select2-results
		display: block

	.select2-results__options
		margin: 0
		padding: 0
		li:before
			display: none

	.select2-results__option
		padding: $select-option-padding
		user-select: none
		-webkit-user-select: none

		&[aria-selected]
			cursor: pointer

	.select2-container--open .select2-dropdown
		left: 0

	.select2-container--open .select2-dropdown--below
		padding: 10px

	.select2-search--dropdown
		display: block
		margin: 0 0 8px 0

		.select2-search__field
			width: 100%
			box-sizing: border-box
			padding: 5px

			&::-webkit-search-cancel-button
				-webkit-appearance: none

		&.select2-search--hide
			display: none


	// close mask
	.select2-close-mask
		border: 0
		margin: 0
		padding: 0
		display: block
		position: fixed
		left: 0
		top: 0
		min-height: 100%
		min-width: 100%
		height: auto
		width: auto
		opacity: 0
		z-index: 99

		// styles required for IE to work
		background-color: #fff
		filter: alpha(opacity=0)

	.select2-hidden-accessible
		border: 0 !important
		clip: rect(0 0 0 0) !important
		-webkit-clip-path: inset(50%) !important
		clip-path: inset(50%) !important
		height: 1px !important
		overflow: hidden !important
		padding: 0 !important
		position: absolute !important
		width: 1px !important
		white-space: nowrap !important



	.select2-container--default

		// Theme Single
		.select2-selection--single
			display: block
			width: 100%
			padding: $input-padding
			font-size: $input-font-size
			font-family: $input-font-family
			line-height: 1.25
			background: $input-bg
			background-image: none
			background-clip: padding-box
			border: $input-border
			border-radius: $input-border-radius
			transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
			display: flex
			justify-content: space-between
			align-items: center
			&:focus
				outline: none


			.select2-selection__rendered
				color: $input-color

			.select2-selection__clear
				cursor: pointer
				float: right
				font-weight: bold

			.select2-selection__placeholder
				color: $input-placeholder-color

			.select2-selection__arrow
				width: $select-icon-size
				height: $select-icon-size
				background-image: url("./assets/icons/#{$select-icon}.svg")
				background-size: 100%

		&[dir="rtl"]
			.select2-selection--single
				.select2-selection__clear
					float: left

				.select2-selection__arrow
					left: 1px
					right: auto

		&.select2-container--disabled
			.select2-selection--single
				background: $input-bg-disabled
				cursor: default

				.select2-selection__clear
					display: none

		&.select2-container--open
			.select2-selection--single
				.select2-selection__arrow
					width: $select-icon-size
					height: $select-icon-size
					background-image: url("./assets/icons/#{$select-icon}.svg")
					background-size: 100%


		// Theme multiple
		.select2-selection--multiple
			display: block
			width: 100%
			padding: $input-padding
			font-size: $input-font-size
			font-family: $input-font-family
			line-height: 1.25
			background: $input-bg
			background-image: none
			background-clip: padding-box
			border: $input-border
			border-radius: $input-border-radius
			transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
			&:focus
				outline: none

			ul li
				margin: 0
				padding: 0

			.select2-selection__rendered
				margin: 0
				padding: 0
				width: 100%
				li
					margin: 0 5px 0 0
				li:before
					display: none

			.select2-selection__placeholder
				color: $input-placeholder-color
				float: left

			.select2-selection__clear
				cursor: pointer
				float: right
				font-weight: bold

			.select2-selection__choice
				background-color: $select-choice-bg
				border: $select-choice-border
				border-radius: $select-choice-border-radius
				padding: $select-choice-padding
				font-size: $select-choice-font-size
				cursor: default
				float: left
				margin: 0

			.select2-selection__choice__remove
				display: inline-block
				color: $select-choice-icon-color
				margin: $select-choice-icon-margin
				padding: $select-choice-icon-padding
				font-family: $select-choice-icon-font-family
				font-size: $select-choice-icon-font-size
				cursor: pointer
				&:hover
					color: #333

		&[dir="rtl"]
			.select2-selection--multiple
				.select2-selection__choice, .select2-selection__placeholder, .select2-search--inline
					float: right

				.select2-selection__choice
					margin-left: 5px
					margin-right: auto

				.select2-selection__choice__remove
					margin-left: 2px
					margin-right: auto

		&.select2-container--focus
			.select2-selection--multiple
				outline: 0

		&.select2-container--disabled
			.select2-selection--multiple
				background: $input-bg-disabled
				cursor: default

			.select2-selection__choice__remove
				display: none


		// Theme general
		&.select2-container--open.select2-container--above
			.select2-selection--single, .select2-selection--multiple
				border-top-left-radius: 0
				border-top-right-radius: 0

		&.select2-container--open.select2-container--below
			.select2-selection--single, .select2-selection--multiple
				border-bottom-left-radius: 0
				border-bottom-right-radius: 0

		.select2-search--dropdown
			.select2-search__field
				border: 1px solid #aaa

		.select2-search--inline
			.select2-search__field
				background: transparent
				border: none
				outline: 0
				box-shadow: none
				-webkit-appearance: textfield

		.select2-results > .select2-results__options
			max-height: 200px
			overflow-y: auto


		// options
		.select2-results__option
			&[role=group]
				padding: $select-option-padding
			&[aria-disabled=true]
				background-color: $select-option-bg-disabled
				color: $select-option-color-disabled
			&[aria-selected=true]
				background-color: $select-option-bg-selected
				color: $select-option-color-selected

			.select2-results__option
				padding-left: 1em
				.select2-results__group
					padding-left: 0
				.select2-results__option
					margin-left: -1em
					padding-left: 2em
					.select2-results__option
						margin-left: -2em
						padding-left: 3em
						.select2-results__option
							margin-left: -3em
							padding-left: 4em
							.select2-results__option
								margin-left: -4em
								padding-left: 5em
								.select2-results__option
									margin-left: -5em
									padding-left: 6em

		.select2-results__option--highlighted[aria-selected]
			background-color: $select-option-bg-active
			color: $select-option-color-active

		.select2-results__group
			cursor: default
			display: block
			padding: 6px
