// SITEMAP
// =====================================================================

.sitemap
	li
		a
			color: $color-text
			text-decoration: none

			&:hover
				color: $color-primary

		ul li
			margin-left: 20px
