// USER HEADER LOGIN / lOGOUT / SIGNIN
// =====================================================================

@if $userActive == true

	.userMenu
		position: fixed
		max-width: $menu-max-width
		width: 100%
		bottom: 0
		right: -$menu-max-width
		transition: right .3s ease-in-out

		.userMenu__logout
			display: flex
			align-items: center
			
			a
				width: 50%
				height: $user-logout-height
				margin: 0
				padding: 0
				display: flex
				justify-content: center
				align-items: center
				background: $user-logout-bg
				font-size: $user-logout-font-size
				font-family: $user-logout-font-family
				text-decoration: $user-logout-text-decoration
				color: $user-logout-color
			
			a:not(:last-child)
				border-right: 2px solid $menu-bg

		.userMenu__login
			.user-wrapper
				margin: 0
				padding: 0

			.link-account
				margin: 0
				padding: 0
				display: flex
				justify-content: center
				align-items: center

				a
					width: 75%
					height: $user-login-height
					margin: 0
					padding: 0
					display: flex
					justify-content: center
					align-items: center
					background: $user-login-bg
					font-size: $user-logout-font-size
					font-family: $user-logout-font-family
					text-decoration: $user-logout-text-decoration
					color: $user-logout-color
					
				.link-logout
					width: 25%
					height: $user-login-height
					margin: 0
					padding: 0
					display: flex
					justify-content: center
					align-items: center
					background: $user-login-bg
					border-left: 2px solid $menu-bg

			.list
				display: none

		&.open
			right: 0

	@media (min-width: $breakpoint-menu)
		.userMenu
			position: absolute
			top: $user-top-max
			right: $user-right-max
			bottom: $user-bottom-max
			left: $user-left-max
			width: auto
			max-width: initial

			.userMenu__logout
				display: inline-flex
				align-items: center
				
				a
					width: auto
					height: auto
					display: block
					background: none
					margin: $user-logout-margin-max
					padding: $user-logout-padding-max
					font-size: $user-logout-font-size-max
					font-family: $user-logout-font-family-max
					text-decoration: $user-logout-text-decoration-max
					color: $user-logout-color-max

					&:hover
						font-family: $user-logout-font-family-hover-max
						text-decoration: $user-logout-text-decoration-hover-max
						color: $user-logout-color-hover-max

				a:not(:last-child)
					border-right: 0

			.userMenu__login
				display: inline-flex
				align-items: center

				.link-account
					a
						width: auto
						height: auto
						display: block
						background: none
						margin: $user-login-margin-max
						padding: $user-login-padding-max
						font-size: $user-login-font-size-max
						font-family: $user-login-font-family-max
						text-decoration: $user-login-text-decoration-max
						color: $user-login-color-max

						&:hover
							font-family: $user-login-font-family-hover-max
							text-decoration: $user-login-text-decoration-hover-max
							color: $user-login-color-hover-max

					a:not(:last-child)
						border-right: 0

					&:hover .list
						display: block

				.list
					position: absolute
					overflow: visible
					display: none
					max-height: inherit
					background: $user-login-list-bg-max
					top: $user-login-list-top-max
					left: $user-login-list-left-max
					width: $user-login-list-width-max
					margin: $user-login-list-ul-margin-max
					padding: $user-login-list-ul-padding-max

					li
						margin: $user-login-list-li-margin-max
						padding: $user-login-list-li-padding-max

						a
							margin: $user-login-list-a-margin-max
							padding: $user-login-list-a-padding-max
							font-size: $user-login-list-a-font-size-max
							font-family: $user-login-list-a-font-family-max
							text-transform: $user-login-list-a-text-transform-max
							text-decoration: $user-login-list-a-text-decoration-max
							color: $user-login-list-a-color-max
							background: $user-login-list-a-bg-max
							cursor: pointer
							display: block

							&:before
								display: none

							&:hover
								color: $user-login-list-a-color-hover-max
								background: $user-login-list-a-bg-hover-max
								text-decoration: $user-login-list-a-text-decoration-hover-max

			&.open
				right: $user-right-max