// ZOOM
// =====================================================================

@if $zoomActive == true

	.zoom
		position: relative
		display: inline-block
		*display: inline
		*zoom: 1
		img
			vertical-align: bottom
		&.is-loading img
			cursor: progress
		&.is-ready img
			cursor: crosshair
		&.is-error img
			cursor: not-allowed

	.zoom-notice
		position: absolute
		top: 50%
		left: 50%
		z-index: 150
		width: 10em
		margin: -1em 0 0 -5em
		line-height: 2em
		text-align: center
		background: #FFF
		box-shadow: 0 0 10px #888

	.zoom-flyout
		position: absolute
		z-index: 100
		overflow: hidden

	.zoom-overlay .zoom-flyout
		top: 0
		left: 0
		width: 100%
		height: 100%

	.zoom-adjacent .zoom-flyout
		top: $zoom-window-top
		right: $zoom-window-right
		bottom: $zoom-window-bottom
		left: $zoom-window-left
		width: $zoom-window-width
		height: $zoom-window-height
		margin: $zoom-window-margin
		border: $zoom-window-border
		border-radius: $zoom-window-border-radius