<!-- HEADER / CABECERA -->
<!-- ---------------------------------------------- -->
<header>
	<div id="logo"><a href="/" title="">{{ appTitle }}</a></div>

	<div class="money d-flex">
		<span class="money__title">$ Monedero $</span>
		<span class="money__quantity">2.000,00</span>
	</div>

	<div class="mainMenu">
		<nav class="mainMenu__nav">
			<ul class="first-level">
				<li class="active"><a routerLink="/" title="juegos">Juegos</a></li>
				<li><a routerLink="/monedero" title="monedero">Monedero</a></li>
			</ul>
		</nav>
	</div>

	<div class="menuBurger" onclick="openMenu();"><span class="menuBurger__icon"></span></div>
</header>
