=gradient($from, $to, $deg)
	background: $from
	background: -moz-linear-gradient($deg, $from 0%, $to 100%)
	background: -webkit-gradient(left top, right bottom, color-stop(0%, $from), color-stop(100%, $to))
	background: -webkit-linear-gradient($deg, $from 0%, $to 100%)
	background: -o-linear-gradient($deg, $from 0%, $to 100%)
	background: -ms-linear-gradient($deg, $from 0%, $to 100%)
	background: linear-gradient($deg, $from 0%, $to 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=1 )

header
	display: flex
	justify-content: center
	align-items: center

#logo a
	font-size: 2rem
	text-transform: uppercase
	text-decoration: none
	color: #FFF

.menuBurger
	background: #e23ec1
	border-radius: 50%
	padding: 10px

	&:after, &:before
		width: calc(100% - 16px)
		margin: 0 8px

	&:before
		bottom: 11px

	&:after
		top: 11px

	&.open
		&:before
			bottom: 19px

		&:after
			top: 19px

.money
	color: #FFF
	display: flex
	justify-content: center
	align-items: center

	.money__title
		background: #f78300
		+gradient(#e6ae00, #de7100, 0deg)
		padding: 4px 8px
		border-bottom-left-radius: 30px
		border-top-left-radius: 30px
		border: 1px solid #ffca4d
		color: #FFF

	.money__quantity
		background: #0e0415
		border-bottom-right-radius: 30px
		border-top-right-radius: 30px
		padding: 4px 15px 4px 10px
		border: 1px solid #0e0415
