<section class="">
	<div class="container">

		<h2 class="mt-0 text-center">Todos los juegos</h2>

		<div class="btn-group d-flex justify-content-center mb-50">
			<button type="button" class="btn btn-primary mx-15" onclick="filter('red');">Red</button>
			<button type="button" class="btn btn-primary mx-15" onclick="filter('orange');">Orange</button>
			<button type="button" class="btn btn-primary mx-15" onclick="filter('green');">Green</button>
			<button type="button" class="btn btn-primary mx-15" onclick="filter('blue');">Blue</button>
		</div>

		<div class="gamesList row">
			<div class="gamesList__item col-lg-3 filter blue show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego blue</p>
						</div>
					</div>
				</div>
			</div>

			<div class="gamesList__item col-lg-3 filter green show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego green</p>
						</div>
					</div>
				</div>
			</div>

			<div class="gamesList__item col-lg-3 filter blue show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego blue</p>
						</div>
					</div>
				</div>
			</div>

			<div class="gamesList__item col-lg-3 filter red show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego red</p>
						</div>
					</div>
				</div>
			</div>

			<div class="gamesList__item col-lg-3 filter orange show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego numero 1</p>
						</div>
					</div>
				</div>
			</div>

			<div class="gamesList__item col-lg-3 filter orange show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego numero 1</p>
						</div>
					</div>
				</div>
			</div>

			<div class="gamesList__item col-lg-3 filter red show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego red</p>
						</div>
					</div>
				</div>
			</div>

			<div class="gamesList__item col-lg-3 filter green show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego green</p>
						</div>
					</div>
				</div>
			</div>

			<div class="gamesList__item col-lg-3 filter blue show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego blue</p>
						</div>
					</div>
				</div>
			</div>

			<div class="gamesList__item col-lg-3 filter green show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego green</p>
						</div>
					</div>
				</div>
			</div>

			<div class="gamesList__item col-lg-3 filter red show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego red</p>
						</div>
					</div>
				</div>
			</div>

			<div class="gamesList__item col-lg-3 filter orange show" routerLink="/game">
				<div class="inner-item">
					<div class="thumb-wrapper">
						<div class="thumb img-frame">
							<img src="https://dummyimage.com/200x200" alt="">
						</div>
					</div>
					<div class="content">
						<div class="text-wrapper">
							<p class="title text-center">Juego numero 1</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
