.gamesList
	.gamesList__item
		margin: 0 0 2rem 0
		background-color: inherit
		position: relative
		opacity: 0.4
		transform: scale(0.95)
		transition: all 0.3s ease-in-out
		cursor: pointer

		&:hover
			transform: scale(1.1)

		.inner-item
			display: flex
			align-items: stretch
			height: 100%
			position: relative
			flex-flow: column
			background: #8C0B2E
			border-top: 10px solid #F2A413
			border-top-left-radius: 4px
			border-top-right-radius: 4px

		&.red .inner-item
			border-top: 10px solid #440315
		&.orange .inner-item
			border-top: 10px solid #883108
		&.green .inner-item
			border-top: 10px solid #088841
		&.blue .inner-item
			border-top: 10px solid #084188

		.thumb-wrapper
			width: 100%
			height: 200px
			margin: 0
			padding: 0
			background-color: inherit
			position: relative

			&:before
				content: ''
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: 0
				background: inherit

			.thumb
				height: 100%

		.content
			width: 100%
			height: 100%
			margin: 0
			padding: 1.5rem
			position: absolute
			top: 0
			left: 0
			display: flex
			flex-wrap: wrap
			height: 100%

			.text-wrapper
				width: 100%

				.title
					margin: 0 0 .3rem 0
					text-align: left
					font-size: 1.3rem
					font-family: 'roboto-bold'
					text-decoration: none
					color: #FFF

		&.show
			opacity: 1
			transform: scale(1)

			&:hover
				transform: scale(1.05)
